@import "tailwindcss";
@import "./runstatus.css";
@plugin "@tailwindcss/typography";
@plugin "../../../../../daisyui.js" {
	themes: all;
}

@layer base {
  [x-cloak] {
    display: none !important;
  }
  .form-checkbox {
    @apply grid grid-cols-[20px_auto] gap-[1px] items-center justify-items-start;
  }
  .form-checkbox label {
    @apply font-semibold;
  }
  .form-checkbox .description {
    @apply col-start-2;
  }
  input.error {
    @apply border-2 border-red-400 shadow-xs shadow-red-200;
  }
  input[type="radio"], input[type="checkbox"] {
    @apply cursor-pointer;
  }
  label {
    @apply cursor-pointer;
  }
  .field {
    @apply flex flex-col gap-0.5;
  }
  .field > label {
    @apply block font-semibold;
  }
  .description {
    @apply text-base-content/60 text-sm;
  }
}

