services:
  postgres:
    image: postgres:18-alpine
    ports:
      - 5432
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 3
    environment:
     - POSTGRES_PASSWORD=postgres
  otfd:
    image: leg100/otfd:latest
    depends_on:
      postgres:
        condition: service_healthy
    ports:
      - "8080:8080"
    healthcheck:
      test: ["CMD", "sh", "-c", "echo check | nc localhost 8080"]
      interval: 5s
      timeout: 5s
      retries: 3
    environment:
      OTF_DATABASE: "postgres://postgres:postgres@postgres/postgres?sslmode=disable"
      OTF_SECRET_FILE: /run/secrets/secret
      OTF_SITE_TOKEN_FILE: /run/secrets/site-token
    secrets:
      - secret
      - site-token
secrets:
  secret:
    environment: OTF_SECRET
  site-token:
    environment: OTF_SITE_TOKEN
