services:
  postgres:
    image: postgres:14-alpine
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 3
    command: -c fsync=off
    environment:
     - POSTGRES_PASSWORD=postgres
  squid:
    image: leg100/squid
    ports:
      - "3128:3128"
    healthcheck:
      test: ["CMD-SHELL", "nc -zw1 localhost 3128"]
      interval: 5s
      timeout: 5s
      retries: 3
    stop_signal: SIGINT
    tty: true
    volumes:
      - ./internal/integration/fixtures:/etc/squid/certs
  pubsub:
    image: google/cloud-sdk:emulators
    ports:
      - "8087:8085"
    stop_signal: SIGINT
    command: gcloud beta emulators pubsub start --project=abc123 --host-port=0.0.0.0:8085
  otfd:
    image: leg100/otfd:latest
    depends_on:
      postgres:
        condition: service_healthy
      squid:
        condition: service_healthy
    ports:
      - "8833:8080"
    healthcheck:
      test: ["CMD", "curl", "http://localhost:8080/healthz"]
      interval: 5s
      timeout: 5s
      retries: 3
    environment:
      - OTF_DATABASE=postgres://postgres:postgres@postgres:5432/postgres?sslmode=disable
      - OTF_SECRET=6b07b57377755b07cf61709780ee7484
      - OTF_SITE_TOKEN=site-token
      - OTF_SSL=true
      - OTF_CERT_FILE=/fixtures/cert.pem
      - OTF_KEY_FILE=/fixtures/key.pem
      - OTF_LOG_HTTP_REQUESTS=true
      - HTTPS_PROXY=squid:3128
      - SSL_CERT_FILE=/fixtures/cert.pem
    volumes:
      - ./internal/integration/fixtures:/fixtures
