site_name: OTF
site_url: https://docs.otf.ninja
repo_url: https://github.com/leg100/otf
theme:
  name: material
  features:
    - announce.dismiss
    - content.action.edit
    - content.action.view
    - content.code.annotate
    - content.code.copy
    # - content.tabs.link
    - content.tooltips
    # - header.autohide
    # - navigation.expand
    - navigation.footer
    - navigation.indexes
    # - navigation.instant
    # - navigation.prune
    # - navigation.sections
      # - navigation.tabs
    # - navigation.tabs.sticky
    - navigation.top
    - navigation.tracking
    - search.highlight
    - search.share
    - search.suggest
    - toc.follow
    - toc.integrate

markdown_extensions:
  - admonition
  - attr_list
  - md_in_html

nav:
  - Introduction: index.md
  - install.md
  - Authentication:
    - About: auth/index.md
    - Providers:
      - auth/providers/github.md
      - auth/providers/gitlab.md
      - auth/providers/iap.md
  - rbac.md
  - vcs_providers.md
  - agents.md
  - registry.md
  - cli.md
  - Configuration:
    - config/envvars.md
    - config/flags.md
  - dev.md

extra:
  version:
    provider: mike

extra_css:
  - stylesheets/extra.css

plugins:
  - mike:
      alias_type: symlink
      redirect_template: null
      deploy_prefix: ''
      canonical_version: latest
      version_selector: true
      css_dir: css
      javascript_dir: js
