{{ define "layout" }}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{block "pre-content" .}}{{end}}
  <link rel="icon" type="image/svg+xml" href="{{ addHash "/static/images/icon.svg" }}">
  <script src="{{ addHash "/static/js/main.js" }}"></script>
  <script src="{{ addHash "/static/js/htmx.2.0.4.min.js" }}"></script>
  <script src="{{ addHash "/static/js/htmx-sse.2.2.2.js" }}"></script>
  <script defer src="{{ addHash "/static/js/alpine.3.14.8.min.js" }}"></script>
  {{ if devMode }}<script src="http://localhost:35729/livereload.js"></script>{{ end }}
  <link rel="stylesheet" href="{{ addHash "/static/css/output.css" }}">
  <title>{{ .Title }} | otf</title>
</head>
<body class="flex flex-col m-0 min-h-screen font-sans">
  <header class="max-w-5xl navbar bg-base-100 mx-auto min-h-12">
    {{ template "header" . }}
  </header>
  <hr/>
  <main class="max-w-5xl flex gap-2 my-0 mx-auto w-full grow">
    <div class="flex basis-1/4 grow border-r border-gray-200 overflow-x-auto w-full flex-shrink-0">
      {{ template "sidemenu" . }}
    </div>
    <div class="flex flex-col basis-3/4 gap-2 p-2 my-0 mx-auto grow w-full">
      {{ block "container" . }}
        {{ block "content-header" . }}
          <div class="flex flex-wrap items-center gap-4 pb-2">
            <div class="flex text-xl">
              <span id="content-header-title">{{ block "content-header-title" . }}{{ end }}</span>
            </div>
            <div>
              {{ block "content-header-actions" . }}{{ end }}
            </div>
          </div>
        {{ end }}

        {{ template "flash" . }}

        <div class="flex flex-col gap-2 mb-4" id="content">
          {{ block "content" . }}{{ end }}
        </div>
      {{ end }}
    </div>
  </main>
  <footer class="py-0.5 border-t-2 border-gray-200 text-xs font-mono">
    <div class="flex justify-between gap-4 max-w-2xl py-0.5 my-0 mx-auto">
      <div></div>
      <div class="footer-version">
        <a class="link" href="https://github.com/leg100/otf">{{ .Version }}</a>
      </div>
      <div class="footer-site-login">
        {{ if not .CurrentUser }}
          <a href="{{ adminLoginPath }}">site admin</a>
        {{ end }}
      </div>
    </div>
  </footer>
  {{block "post-content" .}}{{end}}
</body>
</html>
{{ end }}

{{ define "header" }}
  <div class="navbar-start">
    <div class="dropdown">
      <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor">
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h8m-8 6h16" />
        </svg>
      </div>
      <ul tabindex="0"
        class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-52 p-2 shadow">
        <li><a href="{{ adminPath }}">site</a></li>
        <li><a href="{{ organizationsPath }}">organizations</a></li>
        <li><a href="{{ profilePath }}">profile</a></li>
      </ul>
    </div>
    <div class="">
      <img src="{{ addHash "/static/images/logo.svg" }}" alt="logo">
    </div>
  </div>
  {{ if .CurrentUser }}
    {{ with $.CurrentOrganization }}
      <div class="navbar-center flex gap-2">
        <a class="btn btn-ghost btn-sm" href="{{ organizationPath . }}">
          <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill-rule="evenodd" clip-rule="evenodd">
            <path d="M16 7h8v17h-24v-24h16v7zm-9 12h-2v4h2v-4zm4 0h-2v4h2v-4zm7 0h-2v4h2v-4zm4-10h-6v8h4v5h2v-13zm-8-7h-12v20h1v-5h10v5h1v-20zm-8 13h-2v-2h2v2zm3 0h-2v-2h2v2zm3 0h-2v-2h2v2zm8-2v2h-2v-2h2zm-14-1h-2v-2h2v2zm3 0h-2v-2h2v2zm3 0h-2v-2h2v2zm6-2h2v2h-2v-2zm-12-1h-2v-2h2v2zm3 0h-2v-2h2v2zm3 0h-2v-2h2v2zm-6-3h-2v-2h2v2zm3 0h-2v-2h2v2zm3 0h-2v-2h2v2z"/>
          </svg>
          {{ . }}
        </a>
      </div>
    {{ end }}
  {{ end }}
  {{ with .CurrentUser }}
    <div class="navbar-end hidden lg:flex">
      <ul class="menu menu-horizontal p-0">
        <li><a class="" href="{{ adminPath }}">site</a></li>
        <li><a class="" href="{{ organizationsPath }}">organizations</a></li>
        <li><a class="-mr-2" href="{{ profilePath }}">profile</a></li>
      </ul>
    </div>
  {{ end }}
{{ end }}

{{ define "sidemenu" }}
  {{ with .CurrentOrganization }}
    <ul id="sidemenu" class="menu rounded-box">
      <div class="navbar-center flex gap-2 mb-2">
        <a class="btn btn-ghost btn-sm" href="{{ organizationPath . }}">
          <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill-rule="evenodd" clip-rule="evenodd">
            <path d="M16 7h8v17h-24v-24h16v7zm-9 12h-2v4h2v-4zm4 0h-2v4h2v-4zm7 0h-2v4h2v-4zm4-10h-6v8h4v5h2v-13zm-8-7h-12v20h1v-5h10v5h1v-20zm-8 13h-2v-2h2v2zm3 0h-2v-2h2v2zm3 0h-2v-2h2v2zm8-2v2h-2v-2h2zm-14-1h-2v-2h2v2zm3 0h-2v-2h2v2zm3 0h-2v-2h2v2zm6-2h2v2h-2v-2zm-12-1h-2v-2h2v2zm3 0h-2v-2h2v2zm3 0h-2v-2h2v2zm-6-3h-2v-2h2v2zm3 0h-2v-2h2v2zm3 0h-2v-2h2v2z"/>
          </svg>
          {{ . }}
        </a>
      </div>
      <li id="menu-item-workspaces">
        <a href="{{ workspacesPath . }}">workspaces</a>
        {{ block "workspaces_submenu" $ }}{{ end }}
      </li>
      <li id="modules">
        <a href="{{ modulesPath . }}">modules</a>
      </li>
      <li id="teams">
        <a href="{{ teamsPath . }}">teams</a>
        {{ block "teams_submenu" $ }}{{ end }}
      </li>
      {{ if or ($.CurrentUser.IsOwner .) $.CurrentUser.IsSiteAdmin }}
        <li id="users">
          <a href="{{ usersPath . }}">users</a>
        </li>
        <li id="runners">
          <a href="{{ runnersPath . }}">runners</a>
        </li>
        <li id="agent_pools">
          <a href="{{ agentPoolsPath . }}">agent pools</a>
          {{ block "agent_pools_submenu" $ }}{{ end }}
      </li>
        </li>
        <li id="variable_sets">
          <a href="{{ variableSetsPath .  }}">variable sets</a>
        </li>
        <li id="vcs_providers">
          <a href="{{ vcsProvidersPath . }}">VCS providers</a>
        </li>
        <li id="organization_tokens">
          <a href="{{ organizationTokenPath . }}">organization token</a>
        </li>
        <li id="settings">
          <a href="{{ editOrganizationPath . }}">settings</a>
        </li>
      {{ end }}
    </ul>
  {{ end }}
{{ end }}
