{{ define "layout" }}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{block "pre-content" .}}{{end}}
  <link rel="stylesheet" href="{{ addHash "/static/css/main.css" }}">
  <link rel="stylesheet" href="{{ addHash "/static/css/forms.css" }}">
  <link rel="icon" type="image/svg+xml" href="/static/images/icon.svg">
  <script src="{{ addHash "/static/js/main.js" }}"></script>
  <script src="{{ addHash "/static/js/htmx.1.9.2.min.js" }}"></script>
  <script src="{{ addHash "/static/js/htmx-sse.1.9.2.js" }}"></script>
  <script defer src="{{ addHash "/static/js/alpine.3.12.1.min.js" }}"></script>
  {{ if devMode }}<script src="http://localhost:35729/livereload.js"></script>{{ end }}
  <title>{{ .Title }} | otf</title>
</head>
<body>
  <header>
    <nav class="navbar">
      {{ with .CurrentUser }}
        <input id="hamburger-toggle" type="checkbox" />
        <label class="hamburger-container" for="hamburger-toggle">
          <div class="hamburger-icon">
            <img src="/static/images/hamburger.svg" alt="open menu">
          </div>
          <div class="cross-icon">
            <img src="/static/images/cross.svg" alt="close menu">
          </div>
        </label>
      {{ end }}

      <div class="logo">
        <img src="/static/images/logo.svg" alt="logo">
      </div>

      {{ with .CurrentUser }}
        <div class="current-organization">
          {{ with $.CurrentOrganization }}
            <a href="{{ organizationPath . }}">
              {{ template "building_icon" }}
              <span>{{ . }}</span>
            </a>
          {{ end }}
        </div>

        <div class="nav-links">
          <ul>
            <li>
              <a href="{{ organizationsPath }}">organizations</a>
            </li>
            <li id="top-right-profile-link" class="profile">
              <a href="{{ profilePath }}">profile</a>
            </li>
          </ul>
        </div>
      {{ end }}
    </nav>
  </header>
  <main>
  {{ block "container" . }}
    {{ block "content-header" . }}
      <div class="content-header">
        <div class="content-header-title">
          <span>{{ block "content-header-title" . }}{{ end }}</span>
        </div>
        <div class="content-header-actions">
          {{ block "content-header-actions" . }}{{ end }}
        </div>
        <ul class="content-header-links">
          {{ block "content-header-links" . }}{{ end }}
        </ul>
      </div>
    {{ end }}

    {{ block "content-menu" . }}{{ end }}

    {{ template "flash" . }}

    <div class="content">
      {{ block "content" . }}{{ end }}
    </div>
  {{ end }}
  </main>
  <footer>
    <div class="footer-container">
      <div></div>
      <div class="footer-version">
        <a href="https://github.com/leg100/otf">{{ .Version }}</a>
      </div>
      <div class="footer-site-login">
        {{ if not .CurrentUser }}
          <a href="{{ adminLoginPath }}">site admin</a>
        {{ end }}
      </div>
    </div>
  </footer>
  {{block "post-content" .}}{{end}}
</body>
</html>
{{ end }}
