{{ template "layout" . }}

{{ define "title" }}New Agent Token{{ end }}

{{ define "container-header" }}
  <div>new agent token</div>
{{ end }}

{{ define "content" }}
  <form class="main-form" action="{{ createAgentTokenPath .Organization }}" method="POST">
    <ul>
      <li class="field">
        <label for="description">Description</label>
        <input type="text" name="description" id="description" required>
      </li>
      <li>
        <button>Create token</button>
      </li>
    </ul>
  </form>
{{ end }}
