{{ template "layout" . }}

{{ define "title" }}Login{{ end }}

{{ define "container" }}
  {{ template "flash" . }}
  <div class="center">
    <div class="login-buttons-container">
      {{ range .Content }}
        <a class="login-button-{{ . }}" href="{{ .RequestPath }}">
          {{ template "icons" .String }}<span>Login with {{ title .String }}</span>
        </a>
      {{ else }}
        No authenticators configured.
      {{ end }}
    </div>
  </div>
{{ end }}
