{{ template "layout" . }}

{{ define "title" }}Login{{ end }}

{{ define "container" }}
  {{ template "flash" . }}
  <div class="center">

    <a href="/github/login">
      {{ template "github_icon" }}
      <span>Login with Github</span>
    </a>
  </div>
{{ end }}
