{{ template "layout" . }}

{{ define "content" }}
  <a href="/github/login" class="btn btn-dark">
    <svg class="me-1" width="1em" height="1em" fill="currentColor" alt="Delete">
      <use href="/static/icons/bootstrap-icons.svg#github">
    </svg>
    <span class="align-middle">Login with Github</span>
  </a>
{{ end }}
