{{ template "layout" . }}

{{ define "title" }}Module VCS providers{{ end }}

{{ define "container-header" }}
  <a href="{{ listModulesPath .Content }}">modules</a> / vcs providers
{{ end }}

{{ define "content" }}
  <div>
    Choose a VCS provider that hosts your module source code.
  </div>

  <div id="content-list" class="content-list">
    {{ range .Content.Items }}
      <div class="item">
        <div class="item-heading">
          <span class="status">
            <a href="{{ listModuleRepoPath . }}">
              {{ .Name }}
            </a>
          </span>
          <span class="status-ago">{{ durationRound .CreatedAt }} ago</span>
        </div>
        <div class="item-content">
          {{ template "identifier" . }}
        </div>
      </div>
    {{ else }}
      No VCS providers are currently configured.
    {{ end }}
  </div>
{{ end }}

