{{ template "layout" . }}

{{ define "title" }}{{ .Content.Name }}{{ end }}

{{ define "container-header" }}main menu{{ end }}

{{ define "content" }}
  <div class="content-menu">
    <span id="menu-item-workspaces" class="content-menu-item">
      <a href="{{ listWorkspacePath .Content }}">workspaces</a>
    </span>
    <span id="teams" class="content-menu-item">
      <a href="{{ listTeamsPath .Content }}">teams</a>
    </span>
    {{ if or (.CurrentUser.IsOwner .Content.Name) .CurrentUser.IsSiteAdmin }}
    <span id="users" class="content-menu-item">
      <a href="{{ listUsersPath .Content }}">users</a>
    </span>
    <span id="agent_tokens" class="content-menu-item">
      <a href="{{ listAgentTokenPath .Content }}">agent tokens</a>
    </span>
    <span id="vcs_providers" class="content-menu-item">
      <a href="{{ listVCSProviderPath .Content }}">VCS providers</a>
    </span>
    {{ end }}
  </div>
{{ end }}
