{{ template "layout" . }}

{{ define "title" }}{{ .Content.Name }}{{ end }}

{{ define "container-header" }}main menu{{ end }}

{{ define "content" }}
  <div class="content-menu">
    <span id="menu-item-workspaces" class="content-menu-item">
      <a href="{{ workspacesPath .Content.Name }}">workspaces</a>
    </span>
    <span id="teams" class="content-menu-item">
      <a href="{{ teamsPath .Content.Name }}">teams</a>
    </span>
    {{ if or (.CurrentUser.IsOwner .Content.Name) .CurrentUser.IsSiteAdmin }}
    <span id="users" class="content-menu-item">
      <a href="{{ usersPath .Content.Name }}">users</a>
    </span>
    <span id="agent_tokens" class="content-menu-item">
      <a href="{{ agentTokensPath .Content.Name }}">agent tokens</a>
    </span>
    <span id="vcs_providers" class="content-menu-item">
      <a href="{{ vcsProvidersPath .Content.Name }}">VCS providers</a>
    </span>
    {{ end }}
  </div>
{{ end }}
