{{ template "layout" . }}

{{ define "title" }}Edit Organization{{ end }}

{{ define "container-header" }}Organizations > {{ .Name }} > Edit{{ end }}

{{ define "content" }}
  <form class="main-form" action="{{ updateOrganizationPath .Name }}" method="POST">
    <ul>
      <li class="field">
        <label for="name">Name</label>
        <input type="text" name="name" id="name" value="{{ .Name }}" required>
      </li>
      <li>
        <button>Save changes</button>
      </li>
    </ul>
  </form>
{{ end }}
