{{ template "layout" . }}

{{ define "title" }}Organizations{{ end }}

{{ define "container-header" }}organizations{{ end }}

{{ define "container-header-actions" }}
  {{ if and .CurrentUser .CurrentUser.IsSiteAdmin }}
  <form action="{{ newOrganizationPath }}" method="GET">
    <button id="new-organization-button" type="submit">New Organization</button>
  </form>
  {{ end }}
{{ end }}

{{ define "content" }}
  {{ template "content-list" . }}
{{ end }}

{{ define "content-list-item" }}
  <div id="item-organization-{{ .Name }}" class="item">
    <div class="item-heading">
    <a class="status" href="{{ organizationPath .Name }}">{{ .Name }}</a>
    </div>
    <div class="item-content">
      {{ template "identifier" . }}
      <form action="{{ deleteOrganizationPath .OrganizationName }}" method="POST">
        <button class="delete" onclick="return confirm('Are you sure you want to delete?')">delete</button>
        <input type="hidden" name="id" value="{{ .ID }}">
      </form>
    </div>
  </div>
{{ end }}
