{{ template "layout" . }}

{{ define "title" }}{{ .Content.Name }}{{ end }}

{{ define "content-header" }}{{ "" }}{{ end }}

{{ define "content" }}
  <div class="content-menu">
    <span id="workspaces" class="content-menu-item"><a href="{{ listWorkspacePath .Content }}">workspaces</a></span>
    <span id="agent_tokens" class="content-menu-item"><a href="{{ listAgentTokenPath .Content }}">agent tokens</a></span>
    <span id="teams" class="content-menu-item"><a href="{{ listTeamsPath .Content }}">teams</a></span>
  </div>
{{ end }}
