{{ template "layout" . }}

{{ define "title" }}Organizations{{ end }}

{{ define "breadcrumbs" }}
<nav aria-label="Breadcrumb" class="breadcrumbs">
  <ul>
    <li><a href="{{ .Path "listOrganization" }}">organizations</a></li>
  </ul>
</nav>
{{ end }}

{{ define "content" }}
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Name</th>
      </tr>
    </thead>
    <tbody>
      {{ range .Content.List.Items }}
      <tr>
        <td><a href="/organizations/{{ .Name }}">{{ .Name }}</a></td>
      </tr>
      {{ end }}
    </tbody>
  </table>
{{ end }}
