{{ template "layout" . }}

{{ define "title" }}Organizations{{ end }}

{{ define "container-header-actions" }}
  <form action="{{ newOrganizationPath }}" method="GET">
    <button type="submit">New Organization</button>
  </form>
{{ end }}

{{ define "container-header" }}organizations{{ end }}

{{ define "content" }}
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Name</th>
      </tr>
    </thead>
    <tbody>
      {{ range .Content.Items }}
      <tr>
        <td><a href="{{ getOrganizationPath .Name }}">{{ .Name }}</a></td>
      </tr>
      {{ end }}
    </tbody>
  </table>
{{ end }}
