{{ template "layout" . }}

{{ define "title" }}{{ .Content.Run.ID }}{{ end }}

{{ define "container-header" }}
  <a href="{{ listWorkspacePath .Content.Run }}">workspaces</a>
  /
  <a href="{{ getWorkspacePath .Content.Run }}">{{ .Content.Run.WorkspaceName }}</a>
  /
  <a href="{{ listRunPath .Content.Run }}">runs</a>
  /
  <a href="{{ getRunPath .Content.Run }}">{{ .Content.Run.ID }}</a>
  /
  {{ .Content.Phase }}
{{ end }}

{{ define "content" }}
  <div class="term-container">
    {{- .Content.Logs }}
    <span hx-ext="sse" sse-connect="{{ tailPhasePath .Content.Run .Content.Phase }}?stream={{ .Content.StreamID }}&offset={{ .Content.Offset }}" sse-swap="message" hx-swap="beforeend scroll:bottom"></span>
  </div>
{{ end }}
