{{ template "layout" . }}

{{ define "title" }}{{ .Content.Run.ID }}{{ end }}

{{ define "container-header" }}
  <a href="{{ listWorkspacePath .Content.Run }}">workspaces</a>
  /
  <a href="{{ getWorkspacePath .Content.Run }}">{{ .Content.Run.WorkspaceName }}</a>
  /
  <a href="{{ listRunPath .Content.Run }}">runs</a>
  /
  <a href="{{ getRunPath .Content.Run }}">{{ .Content.Run.ID }}</a>
  /
  {{ .Content.Phase }}
{{ end }}

{{ define "container-header-links" }}
  {{ $links := dict "plan" (getPlanPath .Content.Run) "apply" (getApplyPath .Content.Run) }}
  {{ range $txt, $link := $links }}
    {{ if eq $.CurrentPath $link }}
      <li><a class="active" href="{{ $link }}">{{ $txt }}</a></li>
    {{ else }}
      <li><a href="{{ $link }}">{{ $txt }}</a></li>
    {{ end }}
  {{ end }}
{{ end }}

{{ define "content" }}
  {{ template "logs" .Content.Logs }}
{{ end }}
