{{ template "layout" . }}

{{ define "title" }}{{ .Content.Run.ID }}{{ end }}

{{ define "container-header" }}
  <a href="{{ listWorkspacePath .Content.Run }}">workspaces</a>
  /
  <a href="{{ getWorkspacePath .Content.Run }}">{{ .Content.Run.WorkspaceName }}</a>
  /
  <a href="{{ listRunPath .Content.Run }}">runs</a>
  /
  <a href="{{ getRunPath .Content.Run }}">{{ .Content.Run.ID }}</a>
  /
  plan
{{ end }}

{{ define "content" }}
  <div class="term-container">{{- .Content.Logs -}}</div>
{{ end }}
