{{ template "layout" . }}

{{ define "title" }}{{ .Content.Run.ID }}{{ end }}

{{ define "container-header" }}
  <a href="{{ .Relative "listWorkspace" }}">workspaces</a>
  /
  <a href="{{ .Relative "getWorkspace" }}">{{ .Content.Run.Workspace.Name }}</a>
  /
  <a href="{{ .Relative "listRun" }}">runs</a>
  /
  {{ .Content.Run.ID }}
  /
  plan
{{ end }}

{{ define "content" }}
  <div class="term-container">{{- .Content.Logs -}}</div>
{{ end }}
