{{ template "layout" . }}

{{ define "title" }}{{ .Content.Run.ID }}{{ end }}

{{ define "container-header" }}
  <a href="{{ listWorkspacePath .Content.OrganizationName }}">workspaces</a>
  /
  <a href="{{ getWorkspacePath .Content.OrganizationName .Content.Run.Workspace.Name }}">{{ .Content.Run.Workspace.Name }}</a>
  /
  <a href="{{ listRunPath .Content.OrganizationName .Content.Run.Workspace.Name }}">runs</a>
  /
  {{ .Content.Run.ID }}
  /
  plan
{{ end }}

{{ define "content" }}
  <div class="term-container">{{- .Content.Logs -}}</div>
{{ end }}
