{{ template "layout" . }}

{{ define "title" }}Profile{{ end }}

{{ define "sidebar" }}{{ template "user_sidebar" . }}{{ end }}

{{ define "content" }}
  <p>You are logged in as {{ .Content.Username }}</p>
{{ end }}
