{{ template "layout" . }}

{{ define "title" }}Profile{{ end }}

{{ define "sidebar" }}{{ template "me_sidebar" . }}{{ end }}

{{ define "content" }}
  <p>You are logged in as {{ .Content.Username }}</p>
  <form action="{{ .Path "logout" }}" method="POST">
    <button type="submit">logout</button>
  </form>
{{ end }}
