{{ template "layout" . }}

{{ define "title" }}Profile{{ end }}

{{ define "container-header" }}profile{{ end }}

{{ define "container-header-links" }}{{ template "profile-header" . }}{{ end }}

{{ define "content" }}
  <p>You are logged in as <span class="data">{{ .Content.Username }}</span></p>
  <form action="{{ logoutPath }}" method="POST">
    <button type="submit">logout</button>
  </form>
{{ end }}
