{{ template "layout" . }}

{{ define "title" }}{{ .Content.Run.ID }}{{ end }}

{{ define "container-header" }}
  <a href="{{ listWorkspacePath .Content }}">workspaces</a>
  /
  <a href="{{ getWorkspacePath .Content }}">{{ .Content.WorkspaceName }}</a>
  /
  <a href="{{ listRunPath .Content }}">runs</a>
  /
  {{ .Content.ID }}
{{ end }}
