{{ template "layout" . }}

{{ define "title" }}Runs{{ end }}

{{ define "container-header" }}
  <a href="{{ workspacesPath .Content.Organization }}">workspaces</a>
  /
  <a href="{{ workspacePath .Content.ID }}">{{ .Content.Name }}</a>
  /
  runs
{{ end }}

{{ define "container-header-links" }}
  {{ template "workspace-header-links" . }}
{{ end }}

{{ define "content" }}
  <script type="text/javascript">
    window.addEventListener('load', (e) => {
      watchRuns({{ watchWorkspacePath .Content.ID }}, {{ randAlphaNum 6 }});
    });
  </script>
  {{ template "content-list" . }}
{{ end }}

{{ define "content-list-item" }}
  {{ template "run-item" . }}
{{ end }}

