{{ template "layout" . }}

{{ define "title" }}Runs{{ end }}

{{ define "container-header" }}
  <a href="{{ listWorkspacePath .Content }}">workspaces</a>
  /
  <a href="{{ getWorkspacePath .Content }}">{{ .Content.WorkspaceName }}</a>
  /
  runs
{{ end }}

{{ define "container-header-links" }}
  {{ template "workspace-header-links" . }}
{{ end }}

{{ define "content" }}
  <script type="text/hyperscript">
    eventsource RunUpdates from {{ watchWorkspacePath .Content }}?stream={{ randAlphaNum 6 }}
      on run_created as json
        put it["html"] at start of #content-list
      end

      on run_status_update as json
        remove #{it["id"]}
        put it["html"] at start of #content-list
      end
    end
  </script>
  {{ template "content-list" . }}
{{ end }}

{{ define "content-list-item" }}
  {{ template "run-item" . }}
{{ end }}

