{{ template "layout" . }}

{{ define "title" }}{{ .Content.Run.ID }}{{ end }}

{{ define "container-header" }}
  <a href="{{ listWorkspacePath .Content }}">workspaces</a>
  /
  <a href="{{ getWorkspacePath .Content }}">{{ .Content.WorkspaceName }}</a>
  /
  <a href="{{ listRunPath .Content }}">runs</a>
  /
  {{ .Content.ID }}
{{ end }}

{{ define "container-header-links" }}
  {{ $links := dict "plan" (getPlanPath .Content) "apply" (getApplyPath .Content) }}
  {{ range $txt, $link := $links }}
    {{ if eq $.CurrentPath $link }}
      <li><a class="active" href="{{ $link }}">{{ $txt }}</a></li>
    {{ else }}
      <li><a href="{{ $link }}">{{ $txt }}</a></li>
    {{ end }}
  {{ end }}
{{ end }}

{{ define "content" }}
  <span class="status status-{{ .Content.Status }}">
    <a href="{{ getRunPath .Content }}">{{ .Content.Status.String | replace "_" " "}}</a>
  </span>
{{ end }}

