{{ template "layout" . }}

{{ define "title" }}{{ .Content.Run.ID }}{{ end }}

{{ define "container-header" }}
  <a href="{{ listWorkspacePath .Content }}">workspaces</a>
  /
  <a href="{{ getWorkspacePath .Content }}">{{ .Content.WorkspaceName }}</a>
  /
  <a href="{{ listRunPath .Content }}">runs</a>
  /
  {{ .Content.ID }}
{{ end }}

{{ define "content" }}
  <div class="content-menu">
    <div>
      <span><a href="{{ getPlanPath .Content }}">plan</a></span>
    </div>
    {{ if not .Content.PlanOnly }}
    <div>
      <span><a href="{{ getApplyPath .Content }}">apply</a></span>
    </div>
    {{ end }}
  </div>
{{ end }}
