{{ template "layout" . }}

{{ define "title" }}Runs{{ end }}

{{ define "container-header" }}
  <a href="{{ listWorkspacePath .Content }}">workspaces</a>
  /
  <a href="{{ getWorkspacePath .Content }}">{{ .Content.WorkspaceName }}</a>
  /
  runs
{{ end }}

{{ define "content" }}
  {{ template "content-list" . }}
{{ end }}

{{ define "content-list-item" }}
  <div class="item-heading">
    <span class="smallcaps status"><span class="status-{{ .Status }}">{{ .Status.String | replace "_" " "}}</span></span>
    <span>|</span>
    <span><a href="{{ getPlanPath . }}">plan</a></span>
    {{ if not .PlanOnly }}
      <span>|</span>
      <span><a href="{{ getApplyPath . }}">apply</a></span>
    {{ end }}
    <span class="status-ago">{{ durationRound .CreatedAt }} ago</span>
  </div>
  {{ template "identifier" . }}
{{ end }}
