{{ template "layout" . }}

{{ define "title" }}Sessions{{ end }}

{{ define "sidebar" }}{{ template "user_sidebar" . }}{{ end }}

{{ define "content" }}
  <table>
    <thead>
      <tr>
        <th scope="col">Address</th>
        <th scope="col">Active</th>
        <th scope="col">Revoke</th>
      </tr>
    </thead>
    <tbody>
      {{ range .Content.Sessions }}
      <tr>
        <td>{{ .Address }}</td>
        <td>{{ if .IsActive $.Content.ActiveToken }}&#10004;{{ end}}</td>
        <td>
          {{ if not (.IsActive $.Content.ActiveToken) }}
            <form action="{{ .Path "revokeSession" }}" method="POST">
            <button>Revoke</button>
            <input type="hidden" name="token" value="{{ .Token }}">
          </form>
          {{ end }}
        </td>
      </tr>
      {{ end }}
    </tbody>
  </table>
{{ end }}
