{{ template "layout" . }}

{{ define "title" }}Sessions{{ end }}

{{ define "sidebar" }}{{ template "me_sidebar" . }}{{ end }}

{{ define "container-header" }}
  <a href="{{ getProfilePath }}">profile</a>
  /
  sessions
{{ end }}

{{ define "container-header-links" }}{{ template "profile-header" . }}{{ end }}

{{ define "content" }}
  {{ range .Content.Sessions }}
  <div class="item">
    <div class="item-heading">
      <span>{{ .Address }}</span>
      {{ if eq .Token $.CurrentSession.Token }} &#10004; {{ end }}
      <span class="status-ago">Created {{ ago .CreatedAt }} ago</span>
    </div>
    <div class="item-content">
      {{ template "identifier" . }}
      {{ if ne .Token $.CurrentSession.Token }}
      <form action="{{ revokeSessionPath }}" method="POST">
        <button class="delete">Revoke</button>
        <input type="hidden" name="token" value="{{ .Token }}">
      </form>
      {{ end }}
    </div>
  </div>
  {{ end }}
{{ end }}
