{{ template "layout" . }}

{{ define "title" }}Sessions{{ end }}

{{ define "content" }}
  <table>
    <thead>
      <tr>
        <th scope="col">Address</th>
        <th scope="col">Active</th>
        <th scope="col">Revoke</th>
      </tr>
    </thead>
    <tbody>
      {{ range .Sessions }}
      <tr>
        <td>{{ .Address }}</td>
        <td>{{ if .IsActive $.ActiveToken }}&#10004;{{ end}}</td>
        <td>
          {{ if not (.IsActive $.ActiveToken) }}
          <form action="/sessions/revoke" method="POST">
            <button>Revoke</button>
            <input type="hidden" name="token" value="{{ .Token }}">
          </form>
          {{ end }}
        </td>
      </tr>
      {{ end }}
    </tbody>
  </table>
{{ end }}
