{{ template "layout" . }}

{{ define "title" }}Sessions{{ end }}

{{ define "sidebar" }}{{ template "me_sidebar" . }}{{ end }}

{{ define "container-header" }}
  <a href="{{ getProfilePath }}">profile</a>
  /
  sessions
{{ end }}

{{ define "container-header-links" }}{{ template "profile-header" . }}{{ end }}

{{ define "content" }}
  <table>
    <thead>
      <tr>
        <th scope="col">Address</th>
        <th scope="col">Active</th>
        <th scope="col">Revoke</th>
      </tr>
    </thead>
    <tbody>
      {{ range .Content.Sessions }}
      <tr>
        <td>{{ .Address }}</td>

        {{ if eq .Token $.CurrentSession.Token }}
        <td>&#10004;</td>
        <td></td>
        {{ else }}
        <td></td>
        <td>
          <form action="{{ $.Path "revokeSession" }}" method="POST">
            <button>Revoke</button>
            <input type="hidden" name="token" value="{{ .Token }}">
          </form>
        </td>
        {{ end }}
      </tr>
      {{ end }}
    </tbody>
  </table>
{{ end }}
