{{ template "layout" . }}

{{ define "content" }}
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Token</th>
    </thead>
    <tbody>
      {{ range . }}
      <tr>
        <td>{{ .Token }}<td>
      </tr>
      {{ end }}
    </tbody>
  </table>
{{ end }}
