{{ template "layout" . }}

{{ define "title" }}Site Admin Login{{ end }}

{{ define "container" }}
  {{ template "flash" . }}
  <div class="center">
    <form class="main-form" action="/admin/login" method="POST">
      <ul>
        <li class="field">
          <label for="token">Site Admin Token</label>
          <input type="text" name="token" id="token" required>
        </li>
        <li>
          <button>Login</button>
        </li>
      </ul>
    </form>
  </div>
{{ end }}
