{{ template "layout" . }}

{{ define "container" }}
  {{ template "flash" . }}
  <div class="center">
    <form class="main-form" action="/admin/login" method="POST">
      <div class="field">
        <label for="token">Site Admin Token</label>
        <input type="password" name="token" id="token" required>
      </div>
      <div class="field">
        <button>Login</button>
      </div>
    </form>
  </div>
{{ end }}
