{{ template "layout" . }}

{{ define "title" }}Users{{ end }}

{{ define "container-header" }}
  <a href="{{ listTeamsPath .Content }}">teams</a>
  /
  {{ .Content.TeamName }}
  /
  users
{{ end }}

{{ define "content" }}
  <div id="content-list" class="content-list">
    {{ range .Content.Items }}
      {{ block "content-list-item" . }}{{ end }}
    {{ else }}
      No items currently exist.
    {{ end }}
  </div>
{{ end }}

{{ define "content-list-item" }}
  <div class="item">
    <div class="item-heading">
    <span class="status">{{ .Username }}</span>
    </div>
    {{ template "identifier" . }}
  </div>
{{ end }}
