{{ template "layout" . }}

{{ define "container-header" }}
  <a href="{{ teamsPath .Organization }}">teams</a>
  /
{{ .Team.Name }}{{ end }}

{{ define "content" }}
  {{ if .CurrentUser.IsOwner .Team.Organization }}
    <h3>Permissions</h3>
    <form class="permissions-form" action="{{ updateTeamPath .Team.ID }}" method="POST">
      <div class="field">
        <input type="checkbox" name="manage_workspaces" id="manage_workspaces" value="true" {{ if .Team.OrganizationAccess.ManageWorkspaces }}checked{{ end }} {{ if .Team.IsOwners }}disabled checked{{ end }}>
        <label for="manage_workspaces">Manage Workspaces: Allows members to create and administrate all workspaces within the organization.</label>
      </div>
      <div class="field">
        <input type="checkbox" name="manage_vcs" id="manage_vcs" value="true" {{ if .Team.OrganizationAccess.ManageVCS }}checked{{ end }} {{ if .Team.IsOwners }}disabled checked{{ end }}>
        <label for="manage_vcs">Manage VCS Settings: Allows members to manage the set of VCS providers available within the organization.</label>
      </div>
      <div class="field">
        <input type="checkbox" name="manage_registry" id="manage_registry" value="true" {{ if .Team.OrganizationAccess.ManageRegistry }}checked{{ end }} {{ if .Team.IsOwners }}disabled checked{{ end }}>
        <label for="manage_registry">Manage Registry: Allows members to publish and delete modules within the organization.</label>
      </div>
      {{ if not .Team.IsOwners }}
        <div class="field">
          <button>Save changes</button>
        </div>
      {{ end }}
    </form>
    <br>
  {{ end }}
  <h3>Members</h3>
  <form class="horizontal-form" action="{{ addMemberTeamPath .Team.ID }}" method="POST">
    <input type="text" name="username" id="add-username" required placeholder="username">
    <button type="submit">Add Member</button>
  </form>
  <div id="content-list" class="content-list">
    {{ range .Members }}
      <div id="item-user-{{ .Username }}" class="item">
        <div class="item-heading">
          <span class="status">{{ .Username }}</span>
        </div>
        <div class="item-content">
          {{ template "identifier" . }}
          <form class="horizontal-form" action="{{ removeMemberTeamPath $.Team.ID }}" method="POST">
            <input type="hidden" name="username" id="delete-username" value="{{ .Username }}">
            <button class="delete" onclick="return confirm('Are you sure you want to delete?')">delete</button>
          </form>
        </div>
      </div>
    {{ else }}
      No members currently exist.
    {{ end }}
  </div>
{{ end }}
