{{ template "layout" . }}

{{ define "container-header" }}teams{{ end }}

{{ define "container-header-actions" }}
  {{ $canCreate := .CurrentUser.CanAccessOrganization .CreateTeamAction .Organization }}
  <form action="{{ newTeamPath .Organization }}" method="GET">
    <button id="new-team-button" type="submit" {{ insufficient $canCreate }}>
      New Team
    </button>
  </form>
{{ end }}

{{ define "content" }}
  <div id="content-list" class="content-list">
    {{ range .Teams }}
      <div id="item-team-{{ .Name }}" class="item">
        <div class="item-heading">
          <a class="status" href="{{ teamPath .ID }}">{{ .Name }}</a>
        </div>
        <div class="item-content">
          {{ template "identifier" . }}
        </div>
      </div>
    {{ else }}
      No teams currently exist.
    {{ end }}
  </div>
{{ end }}
