{{ template "layout" . }}

{{ define "title" }}New Team{{ end }}

{{ define "container-header" }}
  <a href="{{ teamsPath .Organization }}">teams</a> / new
{{ end }}

{{ define "content" }}
  <form class="main-form" action="{{ createTeamPath .Organization }}" method="POST">
    <div class="field">
      <label for="name">Name</label>
      <input type="text" name="name" id="name" required>
    </div>
    <div>
      <button id="create-team-button">Create team</button>
    </div>
  </form>
{{ end }}
