{{ template "layout" . }}

{{ define "title" }}Tokens{{ end }}

{{ define "container-header" }}
  <div>profile / tokens</div>
{{ end }}

{{ define "container-header-actions" }}
  <form action="{{ newTokenPath }}" method="GET">
    <button type="submit">New Token</button>
  </form>
{{ end }}

{{ define "container-header-links" }}{{ template "profile-header" . }}{{ end }}

{{ define "content" }}
  {{ range .Content.Tokens }}
  <div class="item">
    <div class="item-heading">
      <span class="status">{{ .Description }}</span>
      <span class="status-ago">{{ ago .CreatedAt }} ago</span>
    </div>
    <div class="item-content">
      {{ template "identifier" . }}
      <form action="{{ deleteTokenPath }}" method="POST">
        <button class="delete">delete</button>
        <input type="hidden" name="id" value="{{ .ID }}">
      </form>
    </div>
  </div>
  {{ end }}
{{ end }}
