{{ template "layout" . }}

{{ define "title" }}Tokens{{ end }}

{{ define "sidebar" }}{{ template "me_sidebar" . }}{{ end }}

{{ define "container-button" }}
  <form action="{{ .Path "newToken" }}" method="GET">
    <button type="submit">New Token</button>
  </form>
{{ end }}

{{ define "content" }}
  <table>
    <thead>
      <tr>
        <th scope="col">Description</th>
        <th scope="col">Created</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      {{ range .Content.Tokens }}
      <tr>
        <td>{{ .Description }}</td>

        <td>{{ ago .CreatedAt }} ago</td>
        <td>
          <form action="{{ $.Path "deleteToken" }}" method="POST">
            <button>{{ template "trash_icon" }}</button>
            <input type="hidden" name="id" value="{{ .ID }}">
          </form>
        </td>
      </tr>
      {{ end }}
    </tbody>
  </table>
{{ end }}
