{{ template "layout" . }}

{{ define "title" }}Workspaces{{ end }}

{{ define "container-header" }}workspaces{{ end }}

{{ define "container-header-actions" }}
  <form action="{{ newWorkspacePath .Content.Organization }}" method="GET">
    <button type="submit">New Workspace</button>
  </form>
{{ end }}

{{ define "content" }}
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Name</th>
      </tr>
    </thead>
    <tbody>
    {{ range .Content.List.Items }}
      <tr>
          <td><a href="{{ getWorkspacePath . }}">{{ .Name }}</a></td>
        </tr>
      {{ end }}
    </tbody>
  </table>
{{ end }}
