{{ template "layout" . }}

{{ define "title" }}Workspaces{{ end }}

{{ define "sidebar" }}{{ template "user_sidebar" . }}{{ end }}

{{ define "breadcrumbs" }}
  <ul>
    <li><a href="{{ .path "listOrganization" }}">Organizations</a></li>
    <li><a href="{{ .path "showOrganization" (.routeVars "organization_name") }}">{{ .Content.Options.OrganizationName }}</a></li>
    <li><a href="{{ .CurrentPath }}">Workspaces</a></li>
  </ul>
{{ end }}

{{ define "content" }}
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Name</th>
      </tr>
    </thead>
    <tbody>
      {{ range .Items }}
        <tr>
          <td><a href="{{ $.path "showWorkspace" "organization_name" .Organization.Name "workspace_name" .Name }}">{{ .Name }}</a></td>
        </tr>
      {{ end }}
    </tbody>
  </table>
{{ end }}
