{{ template "layout" . }}

{{ define "title" }}{{ .Content.Name }}{{ end }}

{{ define "content" }}
  <p><strong>Terraform Version</strong></p>
  <p>{{ .TerraformVersion }}</p>
  <p><a href="/organizations/{{ .Organization.Name }}/workspaces/{{ .Name }}/runs">runs</a></p>
{{ end }}
