{{ template "layout" . }}

{{ define "title" }}New Workspace{{ end }}

{{ define "container-header" }}
  <a href="{{ listWorkspacePath .Content }}">workspaces</a>
  /
  new
{{ end }}

{{ define "content" }}
  <form class="main-form" action="{{ createWorkspacePath .Content }}" method="POST">
    <div class="field">
      <label for="name">Name</label>
      <input type="text" name="name" id="name" required>
    </div>
    <div>
      <button>Create workspace</button>
    </div>
  </form>
{{ end }}
