{{ template "layout" . }}

{{ define "title" }}{{ .Content.Name }}{{ end }}

{{ define "content" }}
  <p><strong>Terraform Version</strong></p>
  <p>{{ .TerraformVersion }}</p>
  <p><a href="/workspaces/{{ .ID }}/runs">runs</a></p>
{{ end }}
