{{ template "layout" . }}

{{ define "title" }}Edit Workspace{{ end }}

{{ define "container-header" }}
  <a href="{{ listWorkspacePath .Content }}">workspaces</a>
  /
  <a href="{{ getWorkspacePath .Content }}">{{ .Content.Name }}</a>
  /
  settings
{{ end }}

{{ define "container-header-links" }}
  {{ template "workspace-header-links" . }}
{{ end }}

{{ define "content" }}
  <div>
    {{ if .Content.VCSRepo }}
      <form action="{{ disconnectWorkspaceRepoPath .Content }}" method="GET">
        <button id="disconnect-workspace-repo-button" type="submit">Disconnect from {{ .Content.VCSRepo.Identifier }}</button>
      </form>
    {{ else }}
      <form action="{{ listWorkspaceVCSProvidersPath .Content }}" method="GET">
        <button id="list-workspace-vcs-providers-button" type="submit">Connect to VCS</button>
      </form>
    {{ end }}
  </div>
  <form class="main-form" action="{{ updateWorkspacePath .Content }}" method="POST">
    <div class="field">
      <label for="name">Name</label>
      <input type="text" name="name" id="name" value="{{ .Content.Name }}" required>
    </div>
    <div class="field">
      <label for="description">Description</label>
      <input class="freeform" type="text" name="description" id="description" value="{{ .Content.Description }}">
    </div>
    <div class="field">
      <fieldset>
        <legend>Execution mode</legend>
        <div class="radio">
        {{ range $mode := .Content.ExecutionModes }}
          <div>
            <input type="radio" name="execution_mode" id="{{ $mode }}" value="{{ $mode }}" {{ if eq $.Content.ExecutionMode $mode }}checked{{ end }}/><label for="{{ $mode }}">{{ title $mode }}</label>
          </div>
        {{ end }}
        </div>
      </fieldset>
    </div>
    <div class="field">
      <label for="terraform_version">Terraform Version</label>
      <input type="text" name="terraform_version" id="terraform_version" value="{{ .Content.TerraformVersion }}" required>
    </div>
    <div class="field">
      <button>Save changes</button>
    </div>
  </form>
{{ end }}
