{{ template "layout" . }}

{{ define "title" }}Workspaces{{ end }}

{{ define "container-header" }}workspaces{{ end }}

{{ define "container-header-actions" }}
  <form action="{{ newWorkspacePath .Content.Name }}" method="GET">
    <button id="new-workspace-button" type="submit">New Workspace</button>
  </form>
{{ end }}

{{ define "content" }}
  {{ template "content-list" . }}
{{ end }}

{{ define "content-list-item" }}
  <div class="item" id="item-workspace-{{ .Name }}">
    <div class="item-heading">
      <a class="status" href="{{ workspacePath .ID }}">{{ .Name }}</a>
    </div>
    {{ template "identifier" . }}
  </div>
{{ end }}
