{{ template "layout" . }}

{{ define "title" }}workspace: {{ .Content.Name }}{{ end }}

{{ define "container-header" }}
  <a href="{{ listWorkspacePath .Content }}">workspaces</a> / {{ .Content.Name }}
{{ end }}

{{ define "container-header-links" }}
<li>queue</li>
<li><a href="{{ listRunPath .Content }}">runs</a></li>
<li>variables</li>
<li>settings</li>
{{ end }}

{{ define "content" }}
  <div class="content-menu">
    <div>Terraform Version: <span class="data">v{{ .Content.TerraformVersion }}</span></div>
    <div class="workspace-lock">
      {{ if .Content.Locked }}
        <span class="workspace-lock-status workspace-lock-status-locked">Locked</span>
        <form action="{{ unlockWorkspacePath .Content }}" method="POST"><button>Unlock</button></form>
      {{ else }}
        <span class="workspace-lock-status workspace-lock-status-unlocked">Unlocked</span>
        <form action="{{ lockWorkspacePath .Content }}" method="POST"><button>Lock</button></form>
      {{ end }}
    </div>
    <form action="{{ deleteWorkspacePath .Content }}" method="POST">
      <button class="delete" onclick="return confirm('Are you sure you want to delete?')">Delete workspace</button>
    </form>
  </div>
{{ end }}
