{{ template "layout" . }}

{{ define "title" }}Edit Workspace{{ end }}

{{ define "container-header" }}
  <a href="{{ listWorkspacePath .Content.Workspace.Organization.Name }}">workspaces</a>
  /
  <a href="{{ getWorkspace .Content.Workspace.Organization.Name .Content.Workspace.Name }}">{{ .Content.Workspace.Name }}</a>
  /
  settings
{{ end }}

{{ define "content" }}
  <form class="main-form" action="{{ .Relative "updateWorkspace" }}" method="POST">
    <div class="field">
      <label for="name">Name</label>
      <input type="text" name="name" id="name" value="{{ .Content.Workspace.Name }}" required>
    </div>
    <div class="field">
      <label for="description">Description</label>
      <input class="freeform" type="text" name="description" id="description" value="{{ .Content.Workspace.Description }}">
    </div>
    <div class="field">
      <fieldset>
        <legend>Execution mode</legend>
        <div class="radio">
          <div>
            <input type="radio" name="execution_mode" id="remote" value="remote" {{ if eq .Content.Workspace.ExecutionMode "remote" }}checked{{ end }}/><label for="remote">Remote</label>
          </div>
          <div>
            <input type="radio" name="execution_mode" id="local" value="local" {{ if eq .Content.Workspace.ExecutionMode "local" }}checked{{ end }}/><label for="local">Local</label>
          </div>
        </div>
      </fieldset>
    </div>
    <div class="field">
      <label for="terraform_version">Terraform Version</label>
      <input type="text" name="terraform_version" id="terraform_version" value="{{ .Content.Workspace.TerraformVersion }}" required>
    </div>
    <div class="field">
      <button>Save changes</button>
    </div>
  </form>
{{ end }}
