{{ template "layout" . }}

{{ define "title" }}Edit Workspace{{ end }}

{{ define "container-header" }}
  <a href="{{ workspacesPath .Content.Organization }}">workspaces</a>
  /
  <a href="{{ workspacePath .Content.ID }}">{{ .Content.Name }}</a>
  /
  settings
{{ end }}

{{ define "container-header-links" }}
  {{ template "workspace-header-links" . }}
{{ end }}

{{ define "content" }}
  <div>
    {{ if .Content.Connection }}
      <form action="{{ disconnectWorkspacePath .Content.ID }}" method="POST">
        <button id="disconnect-workspace-repo-button" type="submit">Disconnect from {{ .Content.Repo.Identifier }}</button>
      </form>
    {{ else }}
      <form action="{{ setupConnectionProviderWorkspacePath .Content.ID }}" method="GET">
        <button id="list-workspace-vcs-providers-button" type="submit">Connect to VCS</button>
      </form>
    {{ end }}
  </div>
  <form class="main-form" action="{{ updateWorkspacePath .Content.ID }}" method="POST">
    <div class="field">
      <label for="name">Name</label>
      <input type="text" name="name" id="name" value="{{ .Content.Name }}" required>
    </div>
    <div class="field">
      <label for="description">Description</label>
      <input class="freeform" type="text" name="description" id="description" value="{{ .Content.Description }}">
    </div>
    <div class="field">
      <fieldset>
        <legend>Execution mode</legend>
        <div class="radio">
        {{ range $mode := .Content.ExecutionModes }}
          <div>
            <input type="radio" name="execution_mode" id="{{ $mode }}" value="{{ $mode }}" {{ checked $.Content.ExecutionMode $mode }}/><label for="{{ $mode }}">{{ title $mode }}</label>
          </div>
        {{ end }}
        </div>
      </fieldset>
    </div>
    <div class="field checkbox">
      <input type="checkbox" name="auto_apply" id="auto_apply" {{ checked .Content.AutoApply }}>
      <label for="auto_apply">Auto apply</label>
    </div>
    <div class="field">
      <label for="terraform_version">Terraform version</label>
      <input type="text" name="terraform_version" id="terraform_version" value="{{ .Content.TerraformVersion }}" required pattern="^(0|[1-9]\d*)\.(0|[1-9]\d*)\.(0|[1-9]\d*)(?:-((?:0|[1-9]\d*|\d*[a-zA-Z-][0-9a-zA-Z-]*)(?:\.(?:0|[1-9]\d*|\d*[a-zA-Z-][0-9a-zA-Z-]*))*))?(?:\+([0-9a-zA-Z-]+(?:\.[0-9a-zA-Z-]+)*))?$">
    </div>
    <div class="field">
      <label for="working_directory">Working directory</label>
      <input type="text" name="working_directory" id="working_directory" value="{{ .Content.WorkingDirectory }}">
    </div>
    <div class="field">
      <button>Save changes</button>
    </div>
  </form>
  <div class="permissions-container">
    <div class="container-header-title">Permissions</div>
      <div>
        <table>
          <thead>
            <tr>
              <th>Team</th>
              <th colspan="2">Role</th>
            </tr>
          </thead>
          <tbody>
            <tr id="permissions-owners">
              <td>owners</td>
              <td>admin</td>
            </tr>
            {{ range .Content.Permissions }}
              {{ if eq .Team.Name "owners" }}
                {{continue}}
              {{ end }}
              <tr>
                <td>{{ .Team.Name }}</td>
                <td>
                  <form class="horizontal-form" action="{{ setPermissionWorkspacePath $.Content.ID }}" method="POST">
                    <input name="team_name" value="{{ .Team.Name }}" type="hidden">
                    <select name="role" id="role-select">
                      {{ $currentRole := .Role.String }}
                      {{ range $.Content.Roles }}
                        <option value="{{ . }}" {{ selected .String $currentRole }}>{{ . }}</option>
                      {{ end }}
                    </select>
                    <button>Update</button>
                  </form>
                </td>
                <td>
                  <form class="horizontal-form" action="{{ unsetPermissionWorkspacePath $.Content.ID }}" method="POST">
                    <input name="team_name" value="{{ .Team.Name }}" type="hidden">
                    <button class="delete">Remove</button>
                  </form>
                </td>
              </tr>
            {{ end }}
            <tr>
              <form id="permissions-add-form" class="horizontal-form" action="{{ setPermissionWorkspacePath .Content.ID }}" method="POST"></form>
              <td>
                <select form="permissions-add-form" name="team_name" id="permissions-add-select-team">
                  <option value="">--team--</option>
                  {{ range .Content.Unassigned }}
                    <option value="{{ .Name }}">{{ .Name }}</option>
                  {{ end }}
                </select>
              </td>
              <td class="permissions-add-role-container">
                <select form="permissions-add-form" name="role" id="permissions-add-select-role">
                  <option value="">--role--</option>
                  {{ range .Content.Roles }}
                    <option value="{{ . }}">{{ . }}</option>
                  {{ end }}
                </select>
                <button id="permissions-add-button" form="permissions-add-form" >Add</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <form class="workspace-delete-button" action="{{ deleteWorkspacePath .Content.ID }}" method="POST">
      <button class="delete" onclick="return confirm('Are you sure you want to delete?')">Delete workspace</button>
    </form>
  </div>
{{ end }}
