{{ template "layout" . }}

{{ define "title" }}VCS providers{{ end }}

{{ define "container-header" }}
  <a href="{{ listWorkspacePath .Content }}">workspaces</a>
  /
  <a href="{{ getWorkspacePath .Content }}">{{ .Content.WorkspaceName }}</a>
  /
  vcs providers
{{ end }}

{{ define "content" }}
  <div>
    Select a VCS provider to connect this workspace to.
  </div>

  <div id="content-list" class="content-list">
    {{ range .Content.Items }}
      <div class="item">
        <div class="item-heading">
          <span class="status">
            <a href="{{ selectWorkspaceRepoPath $.Content .ID }}">
              {{ .Name }}
            </a>
          </span>
          <span class="status-ago">{{ durationRound .CreatedAt }} ago</span>
        </div>
        <div class="item-content">
          {{ template "identifier" . }}
        </div>
      </div>
    {{ else }}
      No VCS providers are currently configured.
    {{ end }}
  </div>
{{ end }}

