{{ template "layout" . }}

{{ define "title" }}workspace: {{ .Content.Name }}{{ end }}

{{ define "container-header" }}
  <a href="{{ listWorkspacePath .Content }}">workspaces</a> / {{ .Content.Name }}
{{ end }}

{{ define "container-header-links" }}
  {{ template "workspace-header-links" . }}
{{ end }}

{{ define "content" }}
  <div class="content-menu">
    <div class="workspace-info">
      <div>Terraform Version: <span class="data">v{{ .Content.TerraformVersion }}</span></div>
      <div class="workspace-lock">
        {{ if .Content.Locked }}
          <span class="workspace-lock-status workspace-lock-status-locked">Locked</span>
          <form action="{{ unlockWorkspacePath .Content }}" method="POST"><button>Unlock</button></form>
        {{ else }}
          <span class="workspace-lock-status workspace-lock-status-unlocked">Unlocked</span>
          <form action="{{ lockWorkspacePath .Content }}" method="POST"><button>Lock</button></form>
        {{ end }}
      </div>
      <form class="workspace-delete-button" action="{{ deleteWorkspacePath .Content }}" method="POST">
        <button class="delete" onclick="return confirm('Are you sure you want to delete?')">Delete workspace</button>
      </form>
    </div>
    {{ with .Content.LatestRun }}
      <div>
        <h3>Latest Run</h3>
        <div hx-ext="sse" sse-connect="{{ watchLatestRunPath . }}?stream=messages" sse-swap="message">
        {{ template "run-item" . }}
        </div>
      </div>
    {{ end }}
  </div>
{{ end }}
