{{ template "layout" . }}

{{ define "title" }}VCS providers{{ end }}

{{ define "container-header" }}
  <a href="{{ workspacesPath .Content.Organization }}">workspaces</a>
  /
  <a href="{{ workspacePath .Content.ID }}">{{ .Content.WorkspaceName }}</a>
  /
  vcs repositories
{{ end }}

{{ define "content" }}
  <div>
    Select a VCS repository to connect this workspace to. Either select a repository from the list or enter the name of a repository below.
  </div>
  <form action="{{ connectWorkspacePath .Content.ID }}" method="POST">
    <input type="hidden" name="vcs_provider_id" id="vcs_provider_id" value="{{ .Content.Provider.ID }}">
    <input type="text" name="identifier" id="identifier" value="" placeholder="{owner}/{repository}" required>
    <button>connect</button>
  </form>

  <div id="content-list" class="content-list">
    {{ range .Content.Items }}
      <div class="item">
        <div class="item-heading">
          <span class="status">{{ .Identifier }}</span>
          <form action="{{ connectWorkspacePath $.Content.ID }}" method="POST">
            <input type="hidden" name="vcs_provider_id" id="vcs_provider_id" value="{{ $.Content.Provider.ID }}">
            <input type="hidden" name="identifier" id="identifier" value="{{ .Identifier }}">
            <button>connect</button>
          </form>
        </div>
        <div class="item-content">
          {{ template "identifier" . }}
        </div>
      </div>
    {{ else }}
      No repositories found.
    {{ end }}
  </div>
{{ end }}

