{{ template "layout" . }}

{{ define "title" }}Workspaces{{ end }}

{{ define "sidebar" }}{{ template "user_sidebar" . }}{{ end }}

{{ define "breadcrumbs" }}
<nav aria-label="Breadcrumb" class="breadcrumbs">
  <ul>
    <li><a href="{{ .Path "listOrganization" }}">organizations</a></li>
    <li><a href="{{ .Path "getOrganization" "organization_name" .Content.Options.OrganizationName }}">{{ .Content.Options.OrganizationName }}</a></li>
    <li><a href="{{ .CurrentPath }}">workspaces</a></li>
  </ul>
</nav>
{{ end }}

{{ define "content" }}
  <table class="table">
    <thead>
    <tr>
      <th scope="col">Name</th>
    </tr>
  </thead>
  <tbody>
    {{ range .Content.List.Items }}
      <tr>
          <td><a href="{{ $.Path "getWorkspace" "organization_name" .Organization.Name "workspace_name" .Name }}">{{ .Name }}</a></td>
        </tr>
      {{ end }}
    </tbody>
  </table>
{{ end }}
