{{ template "layout" . }}

{{ define "title" }}{{ .Content.Name }}{{ end }}

{{ define "content" }}
  <p><strong>Terraform Version</strong></p>
  <p>{{ .Content.TerraformVersion }}</p>
  <p><a href="/organizations/{{ .Content.Organization.Name }}/workspaces/{{ .Content.Name }}/runs">runs</a></p>
{{ end }}
