{{ define "copyable_content" }}
<div class="flex gap-1 items-center" x-data="{ open: false }">
  <a class="shrink-0" @click="navigator.clipboard.writeText($refs.content.innerHTML); open = true; setTimeout(() => open = false, 1000)">
    <button x-ref="content" class="btn btn-ghost btn-xs font-mono break-all text-gray-500 text-xs">
      {{ . }}
      <img id="clipboard-icon" src="{{ addHash "/static/images/clipboard_copy.svg" }}">
    </button>
  </a>
  <div class="relative">
    <span class="bg-black text-white p-1 text-xs font-bold absolute" x-cloak x-show="open" x-transition>copied!</span>
  </div>
</div>
{{ end }}
