{{ define "create_vcs_provider_form" }}
  <form class="main-form" action="{{ createVCSProviderPath .Organization }}" method="POST">
    <input type="hidden" name="cloud" id="cloud" value="{{ .Cloud }}">
    <div class="field">
      <label for="name">Name</label>
      <input type="text" name="name" id="name" required placeholder="{{ .Cloud }}">
    </div>
    <div class="field">
      <label for="token">Token</label>
      <input type="text" name="token" id="token" required>
    </div>
    <div class="field">
      <button>Create VCS Provider</button>
    </div>
    </ul>
  </form>
{{ end }}
