{{ define "create_vcs_provider_form" }}
  <form class="flex flex-col gap-5" action="{{ createVCSProviderPath .Organization }}" method="POST">
    <input type="hidden" name="cloud" id="cloud" value="{{ .Cloud }}">
    <div class="field">
      <label for="name">Name</label>
      <input class="text-input w-64" type="text" name="name" id="name" required placeholder="{{ .Cloud }}">
    </div>
    <div class="field">
      <label for="token">Token</label>
      <textarea class="text-input w-96" rows="3" name="token" id="token" required></textarea>
    </div>
    <button class="btn w-64">Create VCS Provider</button>
  </form>
{{ end }}
