{{ define "content-list" }}
  <div id="content-list" class="content-list">
    {{ block "content-list-header" . }}{{ end }}
    {{ range .Items }}
      {{ block "content-list-item" . }}{{ end }}
    {{ else }}
      No items currently exist.
    {{ end }}
    {{ template "page-navigation-links" . }}
  </div>
{{ end }}
