{{ define "page-navigation-links" }}
  <div class="flex p-4 gap-2 justify-end">
    {{ with prevPageQuery .Pagination }}
      <a href="{{ mergeQuery $.CurrentURL . }}">Previous Page</a>
    {{ end }}
    {{ with nextPageQuery .Pagination }}
      <a href="{{ mergeQuery $.CurrentURL . }}">Next Page</a>
    {{ end }}
  </div>
{{ end }}
