{{ define "page-navigation-links" }}
  <div class="flex p-4 gap-2 justify-end">
    {{ with .PreviousPageLink }}
      <button
        class="btn btn-bordered"
        id="prev-page-link"
        hx-get="{{ . }}"
        hx-target="previous table"
      >
          Previous Page
      </button>
    {{ end }}
    {{ with .NextPageLink }}
      <button
        class="btn btn-bordered"
        id="next-page-link"
        hx-get="{{ . }}"
        hx-target="previous table"
      >
        Next Page
      </button>
    {{ end }}
  </div>
{{ end }}
