{{ define "resource-report" }}
  <div class="font-mono">
    <span class="text-green-700">+{{ .Additions }}</span>
    <span class="text-blue-700">~{{ .Changes }}</span>
    <span class="text-red-700">-{{ .Destructions }}</span>
  </div>
{{ end }}
