{{ define "run-item" }}
  <div sse-swap="run-item-{{ .ID }}">
    <div id="{{ .ID }}" class="item">
      <div class="item-heading">
        {{ template "run-status" . }}
        <span>|</span>
        <span><a href="{{ runPath .ID }}#plan">plan</a></span>
        {{ if not .PlanOnly }}
          <span>|</span>
          <span><a href="{{ runPath .ID }}#apply">apply</a></span>
        {{ end }}
        <span class="status-ago">{{ durationRound .CreatedAt }} ago</span>
      </div>
      <div class="item-content">
        {{ template "identifier" . }}
        <div class="item-info-and-actions">
          {{ if .Commit }}<span class="commit">#{{ substr 0 7 .Commit }}</span>{{ end }}
          {{ with .Apply.ResourceReport }}
            {{ template "resource-report" . }}
          {{ else }}
            {{ with .Plan.ResourceReport }}
              {{ template "resource-report" . }}
            {{ end }}
          {{ end }}
          {{ if eq .Status "planned" }}
            <form action="{{ applyRunPath .ID }}" method="POST">
              <button>apply</button>
            </form>
          {{ end }}
          {{ if .Cancelable }}
            <form action="{{ cancelRunPath .ID }}" method="POST">
              <button class="delete" onclick="return confirm('Are you sure you want to cancel?')">cancel</button>
            </form>
          {{ else if .Discardable }}
            <form action="{{ discardRunPath .ID }}" method="POST">
              <button id="run-discard-button" class="delete" onclick="return confirm('Are you sure you want to discard?')">discard</button>
            </form>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
{{ end }}
