{{ define "run-elapsed-time" }}
  <script src="{{ addHash "/static/js/run_elapsed_time.js" }}"></script>
  <div
    id="elapsed-time"
    hx-swap-oob="true"
    class="text-sm"
    x-data="run_elapsed_time(Date.parse('{{ .CreatedAt }}'), {{ (.ElapsedTime now).Milliseconds }})"
  >
    Running time: <span class="bg-gray-200 p-0.5" x-text="formatDuration(elapsed)">{{ .ElapsedTime now }}</span>
  </div>
{{ end }}
