{{ define "run-status" }}
  {{
    $statusColors := dict
      "planned" "bg-purple-200"
      "planned_and_finished" "bg-red-100"
      "applied" "bg-green-200"
      "errored" "bg-red-300"
      "discarded" "bg-gray-200"
  }}
  <span id="{{ .ID }}-status" class="badge {{ get $statusColors .Status.String }}">
    {{ .Status.String | replace "_" " "}}
  </span>
{{ end }}
