{{ define "run-actions" }}
  <div class="flex gap-2" id="run-actions" hx-swap-oob="true">
    {{ if eq .Status "planned" }}
      <form action="{{ applyRunPath .ID }}" method="POST">
        <button class="btn">apply</button>
      </form>
      <form action="{{ discardRunPath .ID }}" method="POST">
        <button class="btn">discard</button>
      </form>
    {{ else if .Done }}
      <form action="{{ retryRunPath .ID }}" method="POST">
        <button class="btn">retry run</button>
      </form>
    {{ end }}
  <div>
{{ end }}
