{ define "runner_item" }
  { $statusColors := dict
    "idle" "bg-green-100"
    "busy" "bg-blue-200"
    "unknown" "bg-gray-100"
    "errored" "bg-red-100"
    "exited" "bg-purple-100"
  }
  <div id="item-{ .ID }" class="widget">
    <div>
      <div class="flex gap-2 items-center">
        if .Name {
          <span>{ . }</span>
        }
        <div class="{ get $statusColors (toString .Status) }">{ .Status }</div>
        <div class="text-sm" title="{ .CurrentJobs } jobs are currently allocated out of a maximum of { .MaxJobs } jobs">({ .CurrentJobs }/{ .MaxJobs })</div>
      </div>
      <span title="{ .LastPingAt }">last seen { durationRound .LastPingAt } ago</span>
    </div>
    <div>
      { template "identifier" . }
      <div>
        <span class="font-mono bg-gray-200 py-1 px-2 text-xs">{ .Version }</span>
        <span id="process-name" class="font-mono bg-gray-200 py-1 px-2 text-xs">{ if .IsAgent }otf-agent} else {otfd}</span>
        <span class="font-mono bg-gray-200 py-1 px-2 text-xs">{ .IPAddress }</span>
      </div>
    </div>
  </div>
}
