{{ define "running-time" }}
  {{ if .HasStarted }}
    {{ $elapsed := .ElapsedTime now }}
    <span id="running-time-{{ .String }}" hx-swap-oob="true"
      class="badge badge-ghost"
      x-data="running_time(Date.parse('{{ .StartedAt }}'), {{ $elapsed.Milliseconds }}, {{ .Done }})"
      x-text="formatDuration(elapsed)">{{ $elapsed }}</span>
  {{ else }}
    <span id="running-time-{{ .String }}">
  {{ end }}
{{ end }}
