{{ define "search-dropdown" }}
  <form id="search-dropdown" action="{{ createTagWorkspacePath .Workspace.ID }}" method="POST">
  </form>
  <div
      x-data="search_dropdown({{ toJson .Workspace.Tags }}, {{ toJson .UnassignedTags }})"
      x-ref="searchdrop"
      @keydown.escape.prevent.stop="close($refs.button)"
      @focusin.window="! $refs.searchdrop.contains($event.target) && close()"
      @click.outside="close()"
      x-id="['dropdown-button']"
      class="relative"
      >
    <input
        @focusin="open = true"
        x-model="search"
        type="text"
        x-ref="button"
        @click="open = true"
        :aria-expanded="open"
        :aria-controls="$id('dropdown-button')"
        class="flex items-center w-40 gap-2 bg-white px-2 py-1 border"
        placeholder="Add tags"
        form="search-dropdown"
        name="tag_name"
        >
    <div
        x-ref="panel"
        x-show="open"
        x-transition.origin.top.left
        :id="$id('dropdown-button')"
        x-cloak
        class="absolute w-40 mt-1 bg-white border"
        >
        <div class="sticky bottom-0 flex flex-col">
          <button form="search-dropdown" class="flex-grow text-left focus:bg-gray-200 hover:bg-gray-200 py-1 px-2 cursor-pointer" name="tag_name" :value="search" for="create-tag" x-show="isNew">
            Create:<span class="" x-text="search"></span>
          </button>

          <template x-for="item in filterAvailable" :key="item">
            <button form="search-dropdown" class="flex-grow text-left focus:bg-gray-200 hover:bg-gray-200 py-1 px-2 cursor-pointer" name="tag_name" :value="item" for="create-tag" x-text="item"></button>
          </template>
        </div>
    </div>
  </div>
{{ end }}
