{{ define "search-dropdown" }}
  {{ $width := dict "narrow" "w-40" "wide" "w-80" }}
  <script src="{{ addHash "/static/js/search_dropdown.js" }}"></script>
  <form id="search-dropdown" action="{{ .Action }}" method="POST"></form>
  <div
      x-data="search_dropdown({{ toJson .Existing }}, {{ toJson .Available }})"
      x-ref="searchdrop"
      @keydown.escape.prevent.stop="close($refs.input-search)"
      @focusin.window="! $refs.searchdrop.contains($event.target) && close()"
      @click.outside="close()"
      x-id="['dropdown-button']"
      class="relative"
      >
    <input type="hidden" name="{{ .Name }}" :value="search" form="search-dropdown">
    <input
        @focusin="open = true"
        x-model="search"
        type="text"
        x-ref="input-search"
        @click="open = true"
        :aria-expanded="open"
        :aria-controls="$id('dropdown-button')"
        class="flex items-center {{ get $width .Width }} gap-2 bg-white px-2 py-1 border"
        placeholder="{{ .Placeholder }}"
        form="search-dropdown"
        >
    <div
        x-ref="panel"
        x-show="open && (existing?.includes(search) || isNew || filterAvailable?.length > 0)"
        x-transition.origin.top.left
        :id="$id('dropdown-button')"
        x-cloak
        class="absolute flex flex-col {{ get $width .Width }} mt-1 bg-white overflow-x-auto border border-black"
        >
        <span class="text-left py-1 px-2 text-gray-600 italic" x-show="existing?.includes(search)">
          <span x-text="search"></span> already added
        </span>
        <button form="search-dropdown" class="text-left focus:bg-gray-200 hover:bg-gray-200 py-1 px-2" x-show="isNew">
          Create:<span x-text="search"></span>
        </button>

        <template x-for="item in filterAvailable" :key="item">
          <button @click="search = item" form="search-dropdown" class="text-left focus:bg-gray-200 hover:bg-gray-200 py-1 px-2" x-text="item"></button>
        </template>
    </div>
  </div>
{{ end }}
