{{ define "variable-set-item" }}
  <div class="widget" id="item-variable-set-{{ .Name }}" x-data="block_link($el, '{{ editVariableSetPath .ID }}')">
    <span id="name">
      <a href="{{ editVariableSetPath .ID }}">{{ .Name }}</a>
    </span>
    <div>
      {{ template "identifier" . }}
      <span>
        {{ if .Global }}
          global
        {{ else }}
          {{ len .Workspaces }} workspaces
        {{ end }}
      </span>
    </div>
  </div>
{{ end }}
