{{ define "workspace-breadcrumb" }}
  {{ with .Workspace }}
    <a href="{{ workspacesPath .Organization }}">workspaces</a>
    /
    <a href="{{ workspacePath .ID }}">{{ .Name }}</a>
  {{ end }}
{{ end }}
