{{ define "workspace-item" }}
  <div x-data="block_link($el, '{{ workspacePath .ID }}')" class="widget" id="item-workspace-{{ .Name }}">
    <div>
      <span>{{ .Name }}</span>
      {{ with .LatestRun }}
        {{ template "run-status" . }}
      {{ end }}
    </div>
    <div>
      <div class="flex gap-2 items-center">
        {{ template "identifier" . }}
        <form class="flex items-center gap-2" action="{{ workspacesPath .Organization }}" method="GET">
          {{ range .Tags }}
            <button class="tag" name="search[tags]" value="{{ . }}">{{ . }}</button>
          {{ end }}
        </form>
      </div>
    </div>
  </div>
{{ end }}
