{{ define "workspace-item" }}
  <div class="widget" id="item-workspace-{{ .Name }}">
    <div>
      <a class="text-lg" href="{{ workspacePath .ID }}">{{ .Name }}</a>
      {{ with .LatestRun }}
        {{ template "run-status" . }}
      {{ end }}
    </div>
    {{ template "identifier" . }}
  </div>
{{ end }}
