{{ define "identifier" }}
  <div>
    <a title="copy to clipboard" class="clipboard-copyable identifier">
      {{ .ID }}
      <img src="/static/images/clipboard_copy.svg">
    </a>
  </div>
{{ end }}
