{{ define "content-list" }}
<div id="content-list" class="content-list">
  {{ range .Content.Items }}
    {{ block "content-list-item" . }}{{ end }}
  {{ else }}
    No items currently exist.
  {{ end }}
  <div class="content-list-footer">
    {{ if .Content.PrevPage }}
    <a href="{{ urlJoin (dict "path" $.CurrentPath "query" .Content.PrevPageQuery) }}">Previous Page</a>
    {{ end }}
    {{ if .Content.NextPage }}
    <a href="{{ urlJoin (dict "path" $.CurrentPath "query" .Content.NextPageQuery) }}">Next Page</a>
    {{ end }}
  </div>
</div>
{{ end }}
