{{ define "organization_sidebar" }}
<nav class="sidebar">
  <ul>
    <li><a href="{{ .Path "getOrganizationOverview" "organization_name" .Content.Name }}">overview</a></li>
    <li><a href="{{ .Path "listWorkspace" "organization_name" .Content.Name }}">workspaces</a></li>
    <li><a href="{{ .Path "editOrganization" "organization_name" .Content.Name }}">settings</a></li>
  </ul>
</nav>
{{ end }}
