{{ define "run-item" }}
  <div id="{{ .ID }}" class="item">
    <div class="item-heading">
      {{ template "run-status" . }}
      <span>|</span>
      <span><a href="{{ runPath .ID }}#plan">plan</a></span>
      {{ if not .PlanOnly }}
        <span>|</span>
        <span><a href="{{ runPath .ID }}#apply">apply</a></span>
      {{ end }}
      <span class="status-ago">{{ durationRound .CreatedAt }} ago</span>
    </div>
    <div class="item-content">
      {{ template "identifier" . }}
      {{ if .Commit }}<span class="commit">#{{ substr 0 7 .Commit }}</span>{{ end }}
      {{ if eq .Status "applied" }}
        <div class="resource-summary">
          <span class="resource-summary-additions">+{{ .Apply.Additions }}</span>
          <span class="resource-summary-changes">~{{ .Apply.Changes }}</span>
          <span class="resource-summary-destructions">-{{ .Apply.Destructions }}</span>
        </div>
      {{ end }}
      {{ if .Cancelable }}
        <form action="{{ cancelRunPath .ID }}" method="POST">
          <button class="delete" onclick="return confirm('Are you sure you want to cancel?')">cancel</button>
        </form>
      {{ else if .Discardable }}
        <form action="{{ discardRunPath .ID }}" method="POST">
          <button class="delete" onclick="return confirm('Are you sure you want to discard?')">discard</button>
        </form>
      {{ end }}
    </div>
  </div>
{{ end }}
