{{ define "me_sidebar" }}
<nav class="sidebar">
  <ul>
    <li><a href="{{ .Path "getProfile" }}">profile</a></li>
    <li><a href="{{ .Path "listSession" }}">sessions</a></li>
    <li><a href="{{ .Path "listToken" }}">tokens</a></li>
  </ul>
</nav>
{{ end }}
