{{ define "variable-form" }}
  <form class="main-form" action="{{ .FormAction }}" method="POST">
    {{ with .Variable }}
      <div class="field">
        <label for="key">Key</label>
        <input type="text" name="key" id="key" value="{{ .Key }}" required placeholder="key" {{ disabled (and .Sensitive $.EditMode) }}>
      </div>
      <div class="field">
        <label for="value">Value</label>
        <textarea type="text" name="value" id="value" {{ if .Sensitive }}placeholder="hidden"{{ end }}>{{ if not .Sensitive }}{{ .Value }}{{ end }}</textarea>
      </div>
      <div class="field">
        <fieldset>
          <legend>Category</legend>
          <div class="radio">
            <div>
              <input type="radio" name="category" id="terraform" value="terraform" {{ checked .Category "terraform" }} {{ disabled (and .Sensitive $.EditMode) }}><label for="category">Terraform</label>
            </div>
            <div>
              <input type="radio" name="category" id="env" value="env" {{ checked .Category "env" }} {{ disabled (and .Sensitive $.EditMode) }}><label for="env">Environment variable</label>
            </div>
          </div>
        </fieldset>
      </div>
      <div class="checkbox-group">
        <div class="checkbox">
          <input type="checkbox" name="hcl" id="hcl" {{ checked .HCL }} {{ disabled (and .Sensitive $.EditMode) }}><label for="hcl">HCL</label>
        </div>
        <div class="checkbox">
          <input type="checkbox" name="sensitive" id="sensitive" {{ checked .Sensitive }} {{ disabled (and .Sensitive $.EditMode) }}><label for="sensitive">Sensitive</label>
        </div>
      </div>
      <div class="field">
        <label for="description">Description</label>
        <input type="text" class="freeform" name="description" id="description" value="{{ .Description }}" placeholder="description (optional)">
      </div>
      <div>
        <button
          id="create-variable-button"
          {{ if not $.CanAccess }}title="insufficient permissions" disabled{{ end }}
        >
          Save variable
        </button>
      </div>
    {{ end }}
  </form>
  <div>
  <h4>Sensitive variables</h4>
  Sensitive variables are never shown in the UI or API. Other than changing its value, you cannot make changes to a sensitive variable; you'll need to delete and re-create the variable.
  </div>
{{ end }}
