{{ define "workspace-header-links" }}
  {{ $links := dict "runs" (runsPath .Workspace.ID) "variables" (variablesPath .Workspace.ID) "settings" (editWorkspacePath .Workspace.ID) }}
  {{ range $txt, $link := $links }}
    {{ if eq $.CurrentPath $link }}
      <li><a class="active" href="{{ $link }}">{{ $txt }}</a></li>
    {{ else }}
      <li><a href="{{ $link }}">{{ $txt }}</a></li>
    {{ end }}
  {{ end }}
{{ end }}
