{{ define "workspace_sidebar" }}
<nav class="sidebar">
  <ul>
    <li><a href="{{ .Relative "listRun" }}">runs</a></li>
    <li><a href="{{ .Relative "editWorkspace" }}">settings</a></li>
  </ul>
</nav>
{{ end }}
