{{ define "layout" }}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ addHash "/static/css/normalize.css" }}">
  <link rel="stylesheet" href="{{ addHash "/static/css/main.css" }}">
  <link rel="stylesheet" href="{{ addHash "/static/css/bootstrap-icons.css" }}">
  <title>{{ template "title" }} | oTF</title>
</head>
<body>
  <header>
    <nav class="navbar">
      <ul>
        <li class="nav-item">
          <strong>oTF</strong>
        </li>
        <li class="nav-item">
          {{ .CurrentUser }}
        </li>
        {{ if .CurrentUser }}
        <li class="nav-item">
          <form action="/logout" method="POST">
            <button type="submit" class="btn btn-dark">Logout</button>
          </form>
        </li>
        {{ end }}
      </ul>
    </nav>
    <nav>
      <ul class="breadcrumbs">
        {{ range .Breadcrumbs }}
        <li class="breadcrumb"><a href="{{ .Link }}">{{ .Name }}</a></li>
        {{ end }}
        <li class="breadcrumb breadcrumb-active" aria-current="page">{{ template "title" }}</li>
      </ul>
    </nav>
    {{ with .Sidebar }}
    <nav class="submenu">
      <ul>
        <li>
          {{ .Title }}
        </li>
        {{ range .Items }}
        <li>
          <a href="{{ .Link }}">{{ .Name }}</a>
        </li>
        {{ end }}
      </ul>
    </nav>
    {{ end }}
  </header>
  <div class="container">
    <div class="row">
      <main class="col">
        <div class="container">
          <h1 class="mt-5">{{ template "title" . }}</h1>

          <hr class="my-3">

          {{ if .Flash }}
          <div class="alert alert-primary alert-dismissible" role="alert">
            {{ .Flash }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
          {{ end }}

          {{ block "content" .Content }}{{ end }}
        </div>
      </main>
    </div>
  </div>
  <script src="{{ addHash "/static/js/bootstrap.bundle.min.js" }}"></script>
</body>
</html>
{{ end }}
