{{ define "layout" }}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ addHash "/static/css/custom.css" }}">
  <link rel="stylesheet" href="{{ addHash "/static/css/bootstrap-icons.css" }}">
  <title>{{ template "title" }} | oTF</title>
</head>
<body>
  <header>
    <nav class="navbar navbar-dark navbar-bg-color">
      <div class="container-fluid">
        <span class="navbar-brand h1">oTF</span>
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            {{ .CurrentUser }}
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/workspaces">workspaces</a>
          </li>
          {{ if .CurrentUser }}
          <li class="nav-item">
            <form action="/logout" method="POST">
              <button type="submit" class="btn btn-dark">Logout</button>
            </form>
          </li>
          {{ end }}
        </ul>
      </div>
    </nav>
  </header>
  <div class="container">
    <div class="row">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          {{ range .Breadcrumbs }}
          <li class="breadcrumb-item"><a href="{{ .Link }}">{{ .Name }}</a></li>
          {{ end }}
          <li class="breadcrumb-item active" aria-current="page">{{ template "title" }}</li>
        </ol>
      </nav>
    </div>
    <div class="row">
      {{ with .Sidebar }}
      <nav class="col-md-3 sidebar">
        <h4 class="mt-5">{{ template "title" }}</h1>

        <hr class="my-3">

        <ul class="nav flex-column">
        {{ range .Items }}
          <li class="nav-item">
            <a class="nav-link" href="{{ .Link }}">{{ .Name }}</a>
          </li>
        {{ end }}
        </ul>
      </nav>
      {{ end }}
      <main class="col">
        <div class="container">
          <h1 class="mt-5">{{ template "title" . }}</h1>

          <hr class="my-3">

          {{ if .Flash }}
          <div class="alert alert-primary alert-dismissible" role="alert">
            {{ .Flash }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
          {{ end }}

          {{ block "content" .Content }}{{ end }}
        </div>
      </main>
    </div>
  </div>
  <script src="{{ addHash "/static/js/bootstrap.bundle.min.js" }}"></script>
</body>
</html>
{{ end }}
