package organization

import "github.com/leg100/otf/internal/http/html/components"

templ Get(page OrganizationPage) {
	@components.Layout(page.SitePage) {
		<div>Hello, { page.CurrentUser() }</div>
		<div>Current org is: { page.CurrentOrganization }</div>
	}
}
