body {
  font-family: 'Courier New', Courier, monospace
}

.navbar ul {
  display: flex;
  list-style: none;
  background-color: #2F445A;
  color: #fff;
  padding: 0;
  margin: 0;
  align-items: baseline;
}

.navbar li {
  padding: 0.5em;
}

.navbar li:first-child {
  margin-right: auto;
}

.navbar li a {
  color: #fff;
  text-decoration: none;
}

.submenu ul {
  display: flex;
  list-style: none;
  background-color: #405D7D;
  color: #fff;
  padding: 0;
  margin-top: 0;
  align-items: baseline;
}

.submenu li {
  padding: 0.5em;
}

.submenu li:first-child {
  margin-right: auto;
}

.submenu li a {
  color: #fff;
  text-decoration: none;
}

.container {
  margin: 0.5em;
  max-width: 76em;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  border-bottom: 2px solid;
  background-color: lightgrey;
}

th, td {
  text-align: left;
  padding: 0.2em .5em;
}

.breadcrumbs {
  display: flex;
  list-style: none;
  background-color: #405D7D;
  color: #fff;
  padding: 0;
  margin: 0;
  align-items: baseline;
}

.breadcrumbs li {
  padding: 0.5em;
}

.breadcrumbs li form {
  display: inline-block;
}

.breadcrumbs li a {
  color: #fff;
  text-decoration: none;
}

.breadcrumbs li::before {
  content: ">";
}

.breadcrumbs li:first-child::before {
  content: "";
}

