* {
  outline: 0px solid #000;
}

:root {
  --faint-grey: #edeaea;
  /* Padding around header and main elements */
  --body-gutter: 0.5rem;
  --site-width: 56rem;
  /* site font is the sans serif family */
  --site-font: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
  /* alternative site font is the monospace family */
  --alt-font: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
}

body {
  font-family: var(--site-font);
  /*
   * body contains three rows straddling the full height of viewport:
   * - header
   * - main
   * - footer
   */
  display: flex;
  flex-direction: column;
  /* push footer to bottom of viewport */
  min-height: 100vh;
}

header {
  /* faint grey background */
  background-color: var(--faint-grey);
}

main {
  width: 100%;
  /* Consume space between header and footer */
  flex-grow: 1;
  /* applies to both header and main */
  max-width: var(--site-width);
  /* Center horizontally */
  margin: 0 auto;
  /* Small gutter around edge */
  padding: var(--body-gutter);
  /* two rows:
   * - div.content-header
   * - div.content
   */
  display: flex;
  flex-direction: column;
  gap: 1em;
}

/* site footer containing version info */
footer {
  border-top: 1px solid #ccc;
  padding: 0.5em 0;
  font-size: 0.8rem;
  font-family: var(--alt-font);
}

.footer-container {
  max-width: var(--site-width);
  padding: 0 var(--body-gutter);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  gap: 2em;
}

/* Unset browser list style */
ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Unset browser fieldset style */
fieldset {
  margin: 0
}

/* Reset browser heading styles */
h1,h2,h3,h4,h5 {
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
}

header nav {
  /* Small gutter around edge */
  padding: var(--body-gutter);
  font-family: var(--alt-font);
  max-width: var(--site-width);
  /* Center horizontally */
  margin: 0 auto;
}

/*
 * navbar = logo + navigation links
 */
.navbar {
  display: flex;
  align-items: center;
  gap: 2em;
}

/* the little black rectangular main logo in the top left */
.logo {
  flex: initial;
  padding: 0.4em;
  line-height: 1em;
  background-color: black;
  color: white;
  font-weight: 900;
}

.logo a:hover {
  color: white;
}

.navbar .nav-links {
  /* nav-links consume remainder of navbar */
  flex-grow: 1;
  align-items: center;
}

.navbar .nav-links ul {
  display: flex;
  gap: 1em;
}

/*
 * current organization link is left-aligned, next to logo, whereas
 * remainder of links are right-aligned
 */
.navbar .nav-links li.current-organization {
  margin-right: auto;
}

.inline-heading {
  font-weight: 700;
}

/* main-form is a form that is the main content of a page */
.main-form {
  width: 500px;
  /* Form outline */
  padding: 1em;
  border: 1px solid #CCC;

  display: flex;
  flex-direction: column;
  gap: 1em;
}

/* Place labels above their inputs */
.main-form label {
  display: block;
}

/*
 * Workspace permissions
 */

.permissions-container {
  display: flex;
  flex-direction: column;
  gap: 0.8em;
  padding-top: 1em;
  border-top: 1px solid var(--faint-grey);
}

.permissions-container .container-header-title {
  font-size: 1.2em;
  font-weight: bolder;
}

.permissions-form {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

#permissions-owners {
  color: grey;
}

.permissions-container table {
  text-align: left;
  font-size: 0.9em;
  border-collapse: collapse;
  letter-spacing: 1px;
}

.permissions-container thead {
  background-color: var(--faint-grey);
  border-top: 1px solid #bac1cc;
  border-bottom: 1px solid #bac1cc;
}

.permissions-container td, th {
  padding: 10px;
}

.permissions-container tbody tr {
  border-bottom: 1px solid #dce0e6;
}

.permissions-add-role-container {
  display: flex;
  flex-direction: row;
  gap: 1em;
}

.horizontal-form {
  display: flex;
  flex-direction: row;
  gap: 1em;
}

/* Free-form inputs need to accommodate more text */
input.freeform {
  width: 30em;
}

/* Radio options are placed horizontally */
.radio {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
}

/* Radio labels are placed alongside the option */
.radio label {
  display: inline;
}

/* Add some space between radio input and label */
.radio input {
  margin-right: .75em;
}

/* Remove differentiated styling for visited links */
a, a:visited, a:active {
  text-decoration: none;
  color: inherit;
}

/* Retain old-school blue underlining */
a:hover {
  text-decoration: underline;
  color: blue;
}

/* the identifier for a resource, de-emphasised because it's not
 * usually relevant to the user */
.identifier {
  font-family: var(--alt-font);
  font-size: 0.8rem;
}

.identifier-container {
  display: flex;
  gap: 0.5em;

  font-family: var(--alt-font);
  font-size: 0.8rem;
}

/* notification to user that content has been copied to clipboard */
.copied-notification {
  background: paleturquoise;
}

/* content-header: title + links */
.content-header {
  display: flex;
  align-items: center;
  gap: 1em;

  padding-bottom: 0.5em;
  border-bottom: 1px solid #edeaea;
}

.container-header-title {
  font-size: 1.5em;
  display: flex;
}

.container-header-links {
  /* Links take up remainder of header after title */
  flex-grow: 1;

  display: flex;
  font-size: 1em;
  align-items: center;

  /* Put gaps in between links */
  gap: 1em;

  /* Links are right-aligned */
  justify-content: flex-end;
}

.container-header-links .active {
  text-decoration: underline;
}

/* center content e.g. the login prompt */
.center {
  flex: 1;

  display: flex;
  align-items: center;
  justify-content: center;
}

.login-buttons-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.login-buttons-container > a {
  padding: 1em;
	border-style: solid;
	border-width: 1px;
}


/* Flash alert message box */
.flash {
  background: #ddf4ff;
  border-color: rgba(84, 174, 255, 0.4);
  padding: 5px;
  border-style: solid;
  border-width: 1px;
}

.flash-error {
  background: #ffebe9;
  border-color: rgba(255, 129, 130, 0.4);
}

.flash-success {
  background: #dafbe1;
  border-color: rgba(74, 194, 107, 0.4);
}

/*
 * Override terminal-to-html's css
 */
.term-container {
  font-family: var(--alt-font);
  font-size: 0.9em;
  line-height: 19px;
}

/*
 * terminal-to-html strangely disables bold because it looks "wierd"
 */
.term-fg1 {
  font-weight: bold;
}

/* Workspace information at the top of the workspace page */
.workspace-info {
  display: flex;
  align-items: center;
  gap: 1.5em;
}

/* Workspace delete button shifted to the far right to de-emphasise */
.workspace-info .workspace-delete-button {
  margin-left: auto;
}

/* Workspace lock status and toggle button */
.workspace-lock {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.workspace-lock form {
  /* vertically aligns status field and button */
  display: flex;
}

.workspace-lock-status-locked {
  background: #ffd7b6;
}

.workspace-lock-status-unlocked {
  background: #d4fdd4;
}

/* button that carries out destructive action */
button.delete {
  background: #ed6969;
  border: none;
  cursor: pointer;
  color: white;
  font-weight: 600;
  line-height: 1.5rem;
}

button.delete:hover {
  background: #e46060;
}


/* color-coded run status field */
.status {
  font-size: 1.1rem;
  font-weight: bolder;
  transition: all 800ms ease-in;
}

.status-planned_and_finished {
  background: #bbf8ff;
}

.status-applied {
  background: #bfffbf;
}

/* color-coded phase status field */
.phase-status {
  font-size: 0.9rem;
  font-weight: bolder;
  transition: all 800ms ease-in;
}

.phase-status-finished {
  background: #bfffbf;
}

/* main content container for list items */
.content-list {
  display: flex;
  flex-direction: column;
}

.content-list-footer {
  display: flex;
  padding: 10px;
  justify-content: end;
  gap: 1em;
}

/* item is the standard container for an item in a listing,
 * e.g. a run in a list of runs */
.item {
  border: solid 1px #000;
  margin-top: 10px;
  padding: 10px;
}

.item-heading {
  display: flex;
  column-gap: 10px;
  align-items: baseline;
  padding-bottom: 10px;
}

.item-heading .status-ago {
  margin-left: auto;
}

.item-content {
  display: flex;
  column-gap: 10px;
  align-items: baseline;
  justify-content: space-between;
}

/* content menu is a row list of various elements that make up the
 * main content of some pages, e.g. workspace info
 */
.content-menu {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.content-menu-item {
  font-size: 1.5em;
  font-weight: bolder;
}

/* data is a nugget of factual information, e.g. terraform version */
.data {
  font-family: var(--alt-font);
  /* light grey background */
  background: #e7e7e7;
}

/* summary of additions, changes, and destructions in plan/apply */
.resource-summary {
  font-family: var(--alt-font);
  font-size: 0.8rem;
}

.resource-summary-additions {
  color: green;
}

.resource-summary-changes {
  color: blue;
}

.resource-summary-destructions {
  color: red;
}
