* {
  /* outline: 1px solid #000; */
}

body {
  font-family: Roboto,Helvetica Neue,sans-serif;

  /*
   * two vertically stacked items straddling full height of viewport:
   * - div.body-container
   * - footer
   */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/*
 * Container for both header and main elements.
 */
.body-container {
  width: 100%;
  max-width: 76em;

  /* Center horizontally with a small gap at top and bottom */
  margin: 0 auto;

  /* Small gutter around edge */
  padding: 0.5em;

  /* Force footer down to bottom of viewport */
  flex-grow: 1;

  /*
   * two vertically stacked items:
   * - header
   * - main
   */
  display: flex;
  flex-direction: column;
  gap: 0.6em;
}

header nav {
  font-family: 'Courier New', Courier, monospace;
}

main {
  /* Consume all remaining space below the header */
  flex-grow: 1;

  /* vertical stack of:
   * - h2
   * - div.content
   */
  display: flex;
  flex-direction: column;
  gap: 1em;
}

footer {
  border-top: 1px solid #ccc;
  padding: 0.5em;
  text-align: center;
  font-size: 0.8em;
}

/* Unset browser style-sheet */
ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* main-form is a form that is the main content of a page */
.main-form {
  width: 500px;
  /* Form outline */
  padding: 1em;
  border: 1px solid #CCC;

  display: flex;
  flex-direction: column;
  gap: 1em;
}

/* Free-form inputs need to accommodate more text */
input.freeform {
  width: 30em;
}

/* Place labels above their inputs */
label {
  display: block;
}

/* Radio options are placed horizontally */
.radio {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
}

/* Radio labels are placed alongside the option */
.radio label {
  display: inline;
}

/* Add some space between radio input and label */
.radio input {
  margin-right: .75em;
}

a, a:visited, a:active {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
  color: blue;
}

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
}

thead {
  border-bottom: 2px solid;
  background-color: lightgrey;
}

th, td {
  text-align: left;
  padding: 0.2em .5em;
}

/*
 * navbar = logo + navigation links
 */
.navbar {
  display: flex;
  align-items: baseline;
  gap: 2em;
}

.logo {
  flex: initial;
  padding: 0.4em;
  line-height: 1em;
  background-color: black;
  color: white;
  font-weight: 900;
}

.logo a:hover {
  color: white;
}

.navbar .nav-links {
  /* nav-links consume remainder of navbar */
  flex-grow: 1;
}

.navbar .nav-links ul {
  display: flex;
  gap: 1em;
}

/*
 * current organization link is left-aligned, next to logo, whereas
 * remainder of links are right-aligned
 */
.navbar .nav-links li.current-organization {
  margin-right: auto;
}

/* content-header: title + links */
.content-header {
  display: inline-flex;
  align-items: center;
  gap: 1em;
}

.container-header-title {
  font-size: 1.5em;

  display: flex;
}

.container-header-links {
  /* Links take up remainder of header after title */
  flex-grow: 1;

  display: flex;
  font-size: 1em;
  align-items: center;

  /* Put gaps in between links */
  gap: 1em;

  /* Links are right-aligned */
  justify-content: flex-end;
}

.center {
  flex: 1;

  display: flex;
  align-items: center;
  justify-content: center;
}

.center > a {
  padding: 1em;
	border-style: solid;
	border-width: 1px;
}

.sidebar {
  margin-right: 1em;
}

.sidebar ul {
  padding: 0;
  margin-top: 0;
}

.sidebar li {
  padding: 0.5em;
}

.sidebar li:first-child {
  margin-right: auto;
}

.breadcrumbs {
  background-color: #405D7D;
  color: #fff;
}

.breadcrumbs a:hover {
  color: lightgrey;
  text-decoration: none;
}

.breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0.3em 0;
  align-items: baseline;
  font-size: 0.8em;
}

/*
 * Separate breadcrumbs with a ">" symbol and pad both sides
 */
.breadcrumbs li::before {
  content: ">";
}

.breadcrumbs li:first-child::before {
  content: "";
}

.breadcrumbs li:first-child a {
  padding-left: 0em;
  padding-right: 0.5em;
}

.breadcrumbs li a {
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.flash {
  background: #ddf4ff;
  border-color: rgba(84, 174, 255, 0.4);
  padding: 10px 16px;
  border-style: solid;
  border-width: 1px;
  margin: 10px;
}

.flash-error {
  background: #ffebe9;
  border-color: rgba(255, 129, 130, 0.4);
}

.flash-success {
  background: #dafbe1;
  border-color: rgba(74, 194, 107, 0.4);
}

/*
 * Override terminal-to-html's css
 */
.term-container {
  padding: 1em;
  border-radius: 0px;
  font-family: ui-monospace,
             Menlo, Monaco,
             "Cascadia Mono", "Segoe UI Mono",
             "Roboto Mono",
             "Oxygen Mono",
             "Ubuntu Monospace",
             "Source Code Pro",
             "Fira Mono",
             "Droid Sans Mono",
             "Courier New", monospace;
}

/*
 * Upstream strangely disables bold because it looks "wierd"
 */
.term-fg1 {
  font-weight: bold;
}

.workspace-lock {
  display: flex;
  margin: 0.5em;
}

.workspace-lock .workspace-lock-status {
  margin-right: 0.5em;
}

.workspace-lock .workspace-lock-status-locked {
  background: #ff7070;
  color: white;
  font-weight: 700;
}

/*
 * Delete buttons
 */
button.delete {
  border: solid 1px #9f2937;
  background: #c73445;
  color: #fff;
  font-weight: 700;
  font-size: 1rem;
}

button.delete:hover {
  color: #f9ecee;
}

.smallcaps {
  font-variant: small-caps;
  font-size: 1.5rem;
}
