package authenticator

import "github.com/leg100/otf/internal/http/html/components"

templ oidcIcon() {
	<img src={ components.AssetPath(ctx, "/static/images/openid-icon.png") } width="24" height="24"/>
}
