/**
 * 1. Change the inconsistent appearance in all browsers (opinionated).
 * 2. Correct the padding in Firefox.
 */
fieldset {
  border: 1px solid #a0a0a0; /* 1 */
  padding: 0.35em 0.75em 0.625em; /* 2 */
}

input, textarea, select, button {
  /* Override browser default of setting smaller text size for input fields */
  font: inherit;
  /* Add extra whitespace around text within input fields */
  padding: 0.25em .3125em .3125em;
  border: 1px solid #ccc;
  margin: 0;
}

/* When an input is focused, add a pretty halo effect to its border */
input:focus, textarea:focus {
  box-shadow: 0 0 0 .125em rgba(93, 162, 248, 0.5);
  border-color: #5da2f8;
}

/* Free-form inputs need to accommodate more text */
input.freeform {
  width: 20em;
}

/* main-form is a form that is the main content of a page */
.main-form {
  width: 500px;
  /* Form outline */
  padding: 1em;
  border: 1px solid #CCC;

  display: flex;
  flex-direction: column;
  gap: 1em;
}

/* Place labels above their inputs */
.main-form label {
  display: block;
}


/* Radio options are placed horizontally */
.radio {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
}

/* Radio labels are placed alongside the input */
.radio label {
  display: inline;
}

/* Add some space between radio input and label */
.radio input {
  margin-right: .75em;
}

/* Checkbox group is a horizontal arrangement of checkboxes */
.checkbox-group {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
}

/* Checkbox labels are placed alongside the input */
.checkbox label {
  display: inline;
}

/* Add some space between checkbox input and label */
.checkbox input {
  margin-right: .75em;
}

/* Override browser defaults for buttons */
button {
  padding: 0.375em 1em;
  font-size: 0.875em;
  font-weight: 700;
  box-shadow: 0 1px 0px rgba(101,106,118,.2);
  background-color: #edeaea;
}

button:hover {
  background-color: #eee;
  border: 1px solid #ccc;
}

/* button that carries out destructive action */
button.delete {
  background: #ed6969;
  border: 1px solid #da7070;
  cursor: pointer;
  color: white;
  font-weight: 700;
  line-height: 1.5rem;
}

button.delete:hover {
  background: #e46060;
  border: 1px solid #900f18;
}

button:disabled, button:disabled:hover {
  border: 1px solid #999;
  color: white;
  background: #ccc;
  title: "foo";
}


button.cross {
  padding: 0.2em 0.5em;
  background: #ed6969;
  color: white;
  font-weight: 700;
  line-height: 1rem;
}

input.error {
  border-color: #e72633;
  box-shadow: 0 0 0 .125em rgba(229, 43, 37, 0.5);
}

/*
 * Workspace listing
 */

.workspace-tag-filter-checkbox {
  display: none;
}

.workspace-tag-filter-label {
  background: #c0c0c0;
  color: white;
  padding: 0.2em;
  font-size: 0.9em;
  font-weight: 700;
}

.workspace-tag-filter-checkbox:checked ~ .workspace-tag-filter-label {
  background: #2f35ab;
}
