body {
	display: grid;
	grid-template-rows: auto 1fr auto;
	grid-template-columns: 200px 1fr;
	/* gap: 1em; */
    grid-template-areas:
		"hd hd"
		"mu sd"
		"ft ft";
}

header {
	grid-area: hd;
}

main {
	grid-area: sd;
}

footer {
	grid-area: ft;
}

.menu {
	grid-area: mu;
}
