body {
	display: grid;
	grid-template-rows: 2em 1fr 2em;
	grid-template-columns: 1fr 3fr;
	gap: 1em;
    grid-template-areas:
		"hd hd"
		"mu sd"
		"ft ft";
}

header {
	grid-area: hd;
}

main {
	grid-area: sd;
}

footer {
	grid-area: ft;
}

.menu {
	grid-area: mu;
}
