@import "tailwindcss";
@plugin "daisyui";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .badge {
    @apply h-fit;
  }
  [x-cloak] {
    display: none !important;
  }
  .form-checkbox {
    @apply grid grid-cols-[20px_auto] gap-x-4 items-center justify-items-start;
  }
  .form-checkbox label.fieldset-label {
    @apply font-semibold text-base-content;
  }
  .form-checkbox .description {
    @apply col-start-2 text-base-content;
  }
  .fieldset-label span {
    @apply text-base-content;
  }
  #content-header-title a {
    @apply text-blue-600
  }
  .tag-container {
    @apply flex flex-wrap gap-1 items-center
  }
  .tag {
    @apply text-sm rounded-lg bg-blue-800 text-white font-semibold p-1
  }
  .description {
    @apply text-gray-600 text-xs;
  }
  .htmx-indicator {
    display: hidden;
  }
  .htmx-indicator .htmx-request {
    display: inline;
  }
  #sidemenu a.active {
    @apply bg-gray-200 text-black
  }
}
