.login-buttons-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.login-buttons-container > a {
  padding: 1em;
	border-style: solid;
	border-width: 1px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}
