* {
  outline: 0px solid #000;
}

/**
 * Add border box sizing in all browsers (opinionated).
 */
*,
::before,
::after {
  box-sizing: border-box;
}

:root {
  --faint-grey: #edeaea;
  /* Padding around header and main elements */
  --body-gutter: 0.5rem;
  --site-width: 56rem;
  /* site font is the sans serif family */
  --site-font: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
  /* alternative site font is the monospace family */
  --alt-font: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
}

/**
 * 1. Use the default cursor in all browsers (opinionated).
 * 2. Change the line height in all browsers (opinionated).
 * 3. Use a 4-space tab width in all browsers (opinionated).
 * 4. Remove the grey highlight on links in iOS (opinionated).
 * 5. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 * 6. Breaks words to prevent overflow in all browsers (opinionated).
 */
html {
  cursor: default; /* 1 */
  line-height: 1.5; /* 2 */
  -moz-tab-size: 4; /* 3 */
  tab-size: 4; /* 3 */
  -webkit-tap-highlight-color: transparent /* 4 */;
  -ms-text-size-adjust: 100%; /* 5 */
  -webkit-text-size-adjust: 100%; /* 5 */
  word-break: break-word; /* 6 */
}

body {
  font-family: var(--site-font);
  /*
   * body contains three rows straddling the full height of viewport:
   * - header
   * - main
   * - footer
   */
  display: flex;
  flex-direction: column;
  /* push footer to bottom of viewport */
  min-height: 100vh;
  margin: 0;
}

header {
  /* faint grey background */
  background-color: var(--faint-grey);
}

main {
  width: 100%;
  /* Consume space between header and footer */
  flex-grow: 1;
  /* applies to both header and main */
  max-width: var(--site-width);
  /* Center horizontally */
  margin: 0 auto;
  /* Small gutter around edge */
  padding: var(--body-gutter);
  /* two rows:
   * - div.content-header
   * - div.content
   */
  display: flex;
  flex-direction: column;
  gap: 1em;
}

/* site footer containing version info */
footer {
  border-top: 1px solid #ccc;
  padding: 0.5em 0;
  font-size: 0.8rem;
  font-family: var(--alt-font);
}

.footer-container {
  max-width: var(--site-width);
  padding: 0 var(--body-gutter);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  gap: 2em;
}

/* Unset browser list style */
ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Unset browser fieldset style */
fieldset {
  margin: 0
}

/* Reset browser heading styles */
h1,h2,h3,h4,h5 {
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
}

/*
 * Change the alignment on media elements in all browsers (opinionated).
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

header nav {
  /* Small gutter around edge */
  padding: var(--body-gutter);
  font-family: var(--alt-font);
  max-width: var(--site-width);
  /* Center horizontally */
  margin: 0 auto;
}

/*
 * navbar = logo + navigation links
 */
.navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center; /* center align text and svg icons */
  gap: 2em; /* put gap between logo and current org */
}

.navbar .nav-links {
  margin-left: auto; /* shift nav-links to right */
}

.navbar .nav-links ul {
  display: flex;
  gap: 1em;
}

.inline-heading {
  font-weight: 700;
}

.horizontal-form {
  display: flex;
  flex-direction: row;
  gap: 1em;
}

/* Remove differentiated styling for visited links */
a, a:visited, a:active {
  text-decoration: none;
  color: inherit;
}

/* Retain old-school blue underlining */
a:hover {
  text-decoration: underline;
  color: blue;
}

/* Restore underline to links. Useful in prose in order to differentiate links */
a.show-underline {
  text-decoration: underline;
  color: blue;
}

/* the commit sha for a resource; de-emphasised because it's not
 * usually relevant to the user */
.commit {
  font-family: var(--alt-font);
  font-size: 0.8rem;
}

/* the identifier for a resource; de-emphasised because it's not
 * usually relevant to the user */
.identifier .copyable-content {
  font-family: var(--alt-font);
  font-size: 0.8rem;
  color: #5a5a5a;
}

/*
 * Copy to clipboard functionality
 */
.clipboard-icon {
  cursor: pointer;
}

/* notification to user that content has been copied to clipboard */
.copied-notification {
  background: #000;
  color: #fff;
  padding: 0.375em;
  font-weight: 700;
  font-size: 0.9rem;
  position: absolute;
}

/* content-header: title + links */
.content-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center; /* align text and buttons */
  gap: 1em;

  padding-bottom: 0.5em;
  border-bottom: 1px solid #edeaea;
}

.content-header-title {
  font-size: 1.3em;
  display: flex;
  font-smooth: always;
}

.content-header-title a {
  color: blue;
}

.content-header-links {
  /* Links take up remainder of header after title */
  flex-grow: 1;

  display: flex;
  font-size: 1em;
  align-items: center;

  /* Put gaps in between links */
  gap: 1em;

  /* Links are right-aligned */
  justify-content: flex-end;
}

.content-header-links .active {
  text-decoration: underline;
}

/* Content represents the main content of a page */
.content {
  display: flex;
  flex-direction: column;
  gap: 1em;
  /* Add some white space between bottom of content and footer otherwise it
   * looks wierd */
  margin-bottom: 5em;
}

/* center content e.g. the login prompt */
.center {
  flex: 1;

  display: flex;
  align-items: center;
  justify-content: center;
}

.border-bottom {
  padding-bottom: 0.5em;
  border-bottom: 1px solid #edeaea;
}

/* Flash alert message box */
.flash {
  background: #ddf4ff;
  border-color: rgba(84, 174, 255, 0.4);
  padding: .3125em 1em;
  border-style: solid;
  border-width: 1px;
}

/* Flash alert color scheme sourced from Github's */
.flash-error {
  background: #ffebe9;
  border-color: rgba(255, 129, 130, 0.4);
}

.flash-warning {
  background: #fff8c5;
  border-color: rgba(212, 167, 44, 0.4);
}

.flash-success {
  background: #dafbe1;
  border-color: rgba(74, 194, 107, 0.4);
}

/* color-coded run status field */
.status {
  font-size: 1.1rem;
  transition: all 800ms ease-in;
}

.status-planned_and_finished {
  background: #bbf8ff;
}

.status-applied {
  background: #bfffbf;
}

/* color-coded phase status field */
.phase-status {
  font-size: 0.9rem;
  font-weight: bolder;
  transition: all 800ms ease-in;
}

.phase-status-finished {
  background: #bfffbf;
}

/* main content container for list items */
.content-list {
  display: flex;
  flex-direction: column;
}

.content-list-footer {
  display: flex;
  padding: 10px;
  justify-content: end;
  gap: 1em;
}

/* item is the standard container for an item in a listing,
 * e.g. a run in a list of runs */
.item {
  border: solid 1px #000;
  margin-top: 10px;
  padding: 10px;
}

.item-heading {
  display: flex;
  column-gap: 10px;
  align-items: baseline;
  padding-bottom: 10px;
}

/* shift last child in item heading to the far right,
 * as long as it is not the only child */
.item-heading :last-child:not(:first-child) {
  margin-left: auto;
}

/* container for bottom row of widget */
.item-content {
  display: flex;
  column-gap: 10px;
  align-items: baseline;
  justify-content: space-between;
}

/* item actions are the buttons in the bottom right of the widget */
.item-info-and-actions {
  display: flex;
  column-gap: 10px;
  align-items: baseline;
  justify-content: space-between;
}

/* content menu is a row list of various elements that make up the
 * main content of some pages, e.g. workspace info
 */
.content-menu {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.content-menu-item {
  font-size: 1.2em;
}

/* data is a nugget of factual information, e.g. terraform version */
.data {
  font-family: var(--alt-font);
  /* light grey background */
  background: #e7e7e7;
}

/* summary of additions, changes, and destructions in plan/apply */
.resource-summary {
  font-family: var(--alt-font);
  font-size: 0.8rem;
}

.green {
  color: green;
}

.blue {
  color: blue;
}

.red {
  color: red;
}

.new-module-tabs {
  display: flex;
  align-items: center;
  gap: 2em;
}

.new-module-tab {
  color: grey;
}

.selected {
  color: black;
}

/* style anchors like a button */
.button {
  display: block;
  width: 115px;
  height: 25px;
  background: #4E9CAF;
  padding: 10px;
  text-align: center;
  color: white;
  font-weight: bold;

  border: none;
  cursor: pointer;
  color: white;
  font-weight: 600;
  line-height: 1.5rem;
}

.horizontal {
  display: flex;
  align-items: center;
  gap: 1.5em;
}

.hamburger-container {
  display: none; /* hide by default */
  cursor: pointer;
}

#hamburger-toggle {
  display: none; /* hide checkbox */
}

/* credential within flash message */
.flash-credential .copyable-content {
  display: block;
  white-space: pre-wrap;
  font-family: var(--alt-font);
  background: var(--faint-grey);
}

[x-cloak] {
  display: none !important;
}

/* mobile-last */
@media (max-width: 700px) {
  /*
   * Three items in navigation menu:
   * left: hamburger
   * center: current org
   * right: logo
   */
  .navbar {
    justify-content: space-between;
    gap: 0; /* unset gap */
  }
  .hamburger-container {
    display: flex; /* show hamburger */
    order: -2; /* position to the left */
  }
  .nav-links {
    flex-direction: column; /* row -> column */
    width: 100%; /* force onto new row within navbar */
    display: none; /* hide menu by default */
  }
  /* hide menu when unchecked */
  #hamburger-toggle ~ .nav-links {
    display: none;
  }
  /* show menu when checked */
  #hamburger-toggle:checked ~ .nav-links {
    display: block;
    padding: 0.5em;
  }
  /* show hamburger when unchecked */
  #hamburger-toggle ~ .hamburger-container .hamburger-icon {
    display: block;
  }
  /* hide cross when unchecked */
  #hamburger-toggle ~ .hamburger-container .cross-icon {
    display: none;
  }
  #hamburger-toggle:checked ~ .nav-links {
    display: block;
    padding: 0.5em;
  }
  /* hide hamburger when checked */
  #hamburger-toggle:checked ~ .hamburger-container .hamburger-icon {
    display: none;
  }
  /* show cross when checked */
  #hamburger-toggle:checked ~ .hamburger-container .cross-icon {
    display: block;
  }
  .nav-links ul {
    flex-direction: column;
    justify-content: center;
    padding: 0.5em 0; /* gap between navbar and links */
    color: black;
    background-color: var(--faint-grey);
  }
  .current-organization {
    order: -1; /* reposition to center of navbar */
  }
}
