/*
 * Override terminal-to-html's css
 */
.term-container {
  font-family: var(--alt-font);
  font-size: 0.9em;
  line-height: 19px;
}

/*
 * terminal-to-html strangely disables bold because it looks "wierd"
 */
.term-fg1 {
  font-weight: bold;
}

/* container for confirm/discard buttons at bottom of run page */
#run-actions-container {
  margin-bottom: 3em;
}

#run-actions {
  display: flex;
  gap: 1em;
}
