table.variables {
  text-align: left;
  font-size: 0.9em;
  border-collapse: collapse;
}

table.variables thead {
  background-color: var(--faint-grey);
  border-top: 1px solid #bac1cc;
  border-bottom: 1px solid #bac1cc;
}

table.variables td, th {
  padding: 10px;
}

/* Push delete button to far right of table row */
table.variables td:last-child {
  text-align: right;
}

table.variables tbody tr {
  border-bottom: 1px solid #dce0e6;
}
