.workspace-tag {
  background: #2f35ab;
  color: white;
  padding: 0.2em;
  font-size: 0.9em;
  font-weight: 700;
}

.workspace-tag form, svg {
  display: inline-block;
  vertical-align: middle;
}

.workspace-tag input[type="checkbox"] {
  display: none;
}

.workspace-tags-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.3em;
}

#tag-dropdown-menu {
  /* position: relative; */

  display: flex;
  flex-direction: column;
}

#tag-dropdown-menu input {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' width='16' height='16'><path fill='none' stroke='%23343a40' d='m2 5 6 6 6-6'/></svg>");
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
}

#tag-dropdown-menu ul {
  /* position: absolute; */
  /* z-index: 1; */
  background: white;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
}

#tag-dropdown-menu ul li {
  padding: 0.25em .3125em .3125em;
}

#tag-dropdown-menu ul li:hover {
  cursor: pointer;
  background: #f6f6f6;
}
