#filters-container {
  display: flex;
  flex-direction: row;
  gap: 1em;
  align-items: center;
}

input[type="search"] {
  padding-left: 30px;
  /* https://upload.wikimedia.org/wikipedia/commons/5/55/Magnifying_glass_icon.svg */
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='490' height='490'%3E%3Cpath fill='none' stroke='%23000' stroke-width='36' stroke-linecap='round' d='m280,278a153,153 0 1,0-2,2l170,170m-91-117 110,110-26,26-110-110'/%3E%3C/svg%3E");
  background-size: 13px;
  background-repeat: no-repeat;
  background-position: 10px center;
}
