#filters-container {
  display: flex;
  flex-direction: row;
  gap: 1em;
  align-items: center;
}

input[type="search"] {
  padding-left: 30px;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/5/55/Magnifying_glass_icon.svg");
  background-size: 13px;
  background-repeat: no-repeat;
  background-position: 10px center;
}
