# Default values for otfd.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

# -- Number of otfd nodes to cluster
replicaCount: 1

image:
  repository: leg100/otfd
  pullPolicy: IfNotPresent
  # Overrides the image tag whose default is the chart appVersion.
  tag: ""

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

# System hostname used in links - if unset then a hostname is inferred
# from the listening address. It's recommended you set this.

# -- Set client-accessible hostname. See [docs](https://docs.otf.ninja/config/flags/#-hostname).
hostname: ""

postgres:
  # -- Install postgres chart dependency. NOTE: this should only be used for testing purposes.
  enabled: false

# -- Postgres connection string
database: ""

# -- (object) Source database username from a secret
databaseUsernameFromSecret:
  # name of secret
  # name: ""
  # key within secret containing username
  # key: ""

# -- (object) Source database password from a secret
databasePasswordFromSecret:
  # name of secret
  # name: ""
  # key within secret containing password
  # key: ""

# -- Extra environment variables to be passed to the deployment.
extraEnvs: {}

# -- Environment variables to be passed to the deployment from the named kubernetes secret.
envsFromSecret: ""

# -- Cryptographic secret. Must be a hex-encoded 16-byte string. See [docs](https://docs.otf.ninja/config/flags/#-secret).
secret: ""
# -- Source cryptographic secret from a kubernetes secret instead.
secretFromSecret: {}
  # name of secret
  # name: ""
  # key within secret containing cryptographic secret
  # key: ""

# -- Site admin token - empty string disables the site admin account. See [docs](https://docs.otf.ninja/config/flags/#-site-token).
siteToken: ""

# -- Site admins - list of user accounts promoted to site admin. See [docs](https://docs.otf.ninja/config/flags/#-site-admins).
siteAdmins: []

# -- Max config upload size in bytes. See [docs](https://docs.otf.ninja/config/flags/#-max-config-size).
maxConfigSize: ""

# -- The default engine to use. Specify either 'terraform' or 'tofu'. See [docs](https://docs.otf.ninja/config/flags/#-default-engine).
defaultEngine: ""

logging:
  # -- Logging verbosity, the higher the number the more verbose the logs. See [docs](https://docs.otf.ninja/config/flags/#-v).
  verbosity: 0
  # -- Logging format: default, text, or json. See [docs](https://docs.otf.ninja/config/flags/#-log-format)
  format: default
  # -- Log http requests.
  http: false

github:
  # -- Github OAuth client ID. See [docs](https://docs.otf.ninja/config/flags/#-github-client-id).
  clientID: ""
  # -- Github OAuth client secret. See [docs](https://docs.otf.ninja/config/flags/#-github-client-secret).
  clientSecret: ""
  # -- Github hostname to use for all interactions with Github.
  hostname: "github.com"

gitlab:
  # -- Gitlab OAuth client ID. See [docs](https://docs.otf.ninja/config/flags/#-gitlab-client-id).
  clientID: ""
  # -- Gitlab OAuth client secret. See [docs](https://docs.otf.ninja/config/flags/#-gitlab-client-secret).
  clientSecret: ""
  # -- Gitlab hostname to use for all interactions with Gitlab.
  hostname: "gitlab.com"

google:
  # -- The Google JWT audience claim for validation. Validation is skipped if empty. See [docs](https://docs.otf.ninja/config/flags/#-google-jwt-audience).
  audience: ""

oidc:
  # -- values for configuring OIDC authentication. See [docs](https://docs.otf.ninja/auth/providers/oidc/)

  # -- OIDC provider name. See [docs](https://docs.otf.ninja/auth/providers/oidc/).
  name: ""
  # -- OIDC issuer URL. See [docs](https://docs.otf.ninja/auth/providers/oidc/).
  issuerURL: ""
  # -- OIDC client ID. See [docs](https://docs.otf.ninja/auth/providers/oidc/).
  clientID: ""
  # -- Override OIDC claim used for username. See [docs](https://docs.otf.ninja/auth/providers/oidc/).
  usernameClaim: ""
  # -- Override OIDC scopes. See [docs](https://docs.otf.ninja/auth/providers/oidc/).
  scopes: []
  # -- (object) Source OIDC client secret from a k8s secret. See [docs](https://docs.otf.ninja/auth/providers/oidc/).
  clientSecretFromSecret:
    # name of secret
    # name: ""
    # key within secret containing password
    # key: ""

serviceAccount:
  # -- Specifies whether a service account should be created
  create: true
  # -- Annotations to add to the service account
  annotations: {}
  # -- The name of the service account to use. If not set and create is true, a name is generated using the fullname template
  name: ""

# -- Add annotations to otfd pod
podAnnotations: {}

# -- Set security context for otfd pod
podSecurityContext: {}
  # fsGroup: 2000

service:
  # -- Service type for otf
  type: ClusterIP
  # -- Service port for otf
  port: 80
  annotations: {}

ingress:
  enabled: false
  # For Kubernetes >= 1.18 you should specify the ingress-controller via the field ingressClassName
  # See https://kubernetes.io/blog/2020/04/02/improvements-to-the-ingress-api-in-kubernetes-1.18/#specifying-the-class-of-an-ingress
  # className: nginx
  annotations: {}
    # kubernetes.io/ingress.class: nginx
    # kubernetes.io/tls-acme: "true"
  path: /
  pathType: Prefix
  hosts: []
  tls: []
  # - secretName: otf-ninja-tls
  #   hosts:
  #   - otf.ninja

# -- Collect prometheus metrics
serviceMonitor:
  enabled: false

caCerts:
  # -- Mount a secret containing CA certificates and make them available to both terraform and otfd, allowing them to communicate with API endpoints that use custom CA certificates.
  enabled: false
  # -- Name of secret containing the CA certificates to mount.
  secretName: certs
  # -- Specify individual items in secret containing CA certificates. Use the [KeyToPath](https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.28/#keytopath-v1-core) schema for each item. If unspecified, all items are mounted from the secret.
  secretItems: []

# -- Specify an http(s) proxy for outbound connections.
proxy:
# -- Specify hosts for which outbound connections should not use the proxy.
no_proxy:

resources: {}
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
  # limits:
  #   cpu: 100m
  #   memory: 128Mi
  # requests:
  #   cpu: 100m
  #   memory: 128Mi

nodeSelector: {}

tolerations: []

affinity: {}

# -- Additional volumes to make available to the pod
volumes: []

# -- Additional volume mounts for the main otfd container
volumeMounts: []

# -- Additional sidecar containers to run alongside the main otfd container
sidecars: []

## Role Based Access
## Ref: https://kubernetes.io/docs/admin/authorization/rbac/
##
rbac:
  # -- Create and use RBAC resources
  create: true
