{ template "layout" . }

{ define "content-header-title" }
  <div>new agent token</div>
}

{ define "content" }
  <form class="flex flex-col gap-5" action={ createAgentTokenPath .Organization } method="POST">
    <div class="field">
      <label for="description">Description</label>
      <textarea class="text-input w-96" rows="3" type="text" name="description" id="description" required></textarea>
    </div>
    <div class="field">
      <button class="btn w-40">Create token</button>
    </div>
  </form>
}
