{{ template "layout" . }}

{{ define "content-header-title" }}agent tokens{{ end }}

{{ define "content-header-actions" }}
  <form action="{{ newAgentTokenPath .Organization }}" method="GET">
    <button type="submit">New Agent Token</button>
  </form>
{{ end }}

{{ define "content" }}
  {{ template "content-list" . }}
{{ end }}

{{ define "content-list-item" }}
  <div class="widget">
    <div>
      <span>{{ .Description }}</span>
      <span>{{ durationRound .CreatedAt }} ago</span>
    </div>
    <div>
      {{ template "identifier" . }}
      <form action="{{ deleteAgentTokenPath .ID }}" method="POST">
        <button onclick="return confirm('Are you sure you want to delete?')">delete</button>
      </form>
    </div>
  </div>
{{ end }}
