{{ template "layout" . }}

{{ define "content-header-title" }}Create Github App{{ end }}

{{ define "content" }}
  <script src="{{ addHash "/static/js/ghapp_register.js" }}"></script>
  <div x-data="register">
    <form class="flex flex-col gap-4" :action="action" method="post">
      <div class="field">
        <label for="organization">Organization</label>
        <input class="text-input w-48" id="organization" x-model="organization">
        <span class="description">
          If assigning ownership to a GitHub organization, enter its name here. Otherwise ownership is assigned to your personal GitHub account.
        </span>
      </div>
      <input type="hidden" name="manifest" value="{{ .Manifest }}">
      <button class="btn w-40">Create</button>
    </form>
  </div>
{{ end }}
