{{ template "layout" . }}

{{ define "content-header-title" }}Create Github App{{ end }}

{{ define "content" }}
  <script src="{{ addHash "/static/js/github_apps_new.js" }}"></script>
  <div x-data="action('{{ .GithubHostname }}', '{{ .Manifest }}')">
    <form class="flex flex-col gap-4" :action="action" method="post">
      <div class="field">
        <label for="organization">Organization</label>
        <span class="description">
          If assigning ownership to a GitHub organization, enter its name here. Otherwise ownership is assigned to your personal GitHub account.
        </span>
        <input class="input input-bordered w-48" id="organization" x-model="organization">
      </div>
      <div class="form-checkbox">
        <input class="checkbox" type="checkbox" id="public" x-model="public" x-init="$watch('public', value => manifest.public = public)">
        <label for="public">Public</label>
        <span class="description">By default an app is private and can only be installed on the owner's account. If you intend to install the app in more than one organization or user account then it is necessary to make the app public.</span>
      </div>
      <input type="hidden" name="manifest" :value="JSON.stringify(manifest)">
      <button class="btn w-40">Create</button>
    </form>
  </div>
{{ end }}
