{ template "layout" . }

{ define "content-header-title" }GitHub app}

{ define "content" }
  if .App {
    <div class="flex flex-col gap-2 text-lg">
      <div class="widget">
        <div>
          <span>
            <a class="flex underline gap-1 items-center" href="{ .URL $.GithubHostname }" target="GithubTab">
              { .String }<img class="h-4" src={ components.AssetPath(ctx, "/static/images/external_link_icon.svg") }>
            </a>
          </span>
        </div>
        <div>
          { template "identifier" . }
          { if $.CanDeleteApp }
            <form action={ deleteGithubAppPath (toString .ID) } method="POST">
              <button class="btn-danger" onclick="return confirm('Are you sure you want to delete?')">delete</button>
              <input type="hidden" name="id" value="{ .ID }">
            </form>
          }
        </div>
      </div>
    </div>
    <hr class="my-4">
    <h3 class="font-semibold text-lg">Installations</h3>
    <form action={ .NewInstallURL $.GithubHostname } method="GET" target="GithubTab">
      <button class="btn w-32 flex gap-1 items-center justify-center">
        Install<img class="h-4" src={ components.AssetPath(ctx, "/static/images/external_link_icon.svg") }>
      </button>
    </form>
    <div id="installations">
      for k, v := range $.Installations {
        <div class="flex flex-col gap-2 text-lg">
          <div class="widget">
            <div>
              <span>
                <a class="flex underline gap-1 items-center"  href="{ .HTMLURL }" target="GithubTab">
                  { .String }<img class="h-4" src={ components.AssetPath(ctx, "/static/images/external_link_icon.svg") }>
                </a>
              </span>
            </div>
            <div>
              { template "identifier" . }
              <form action={ deleteInstallGithubAppPath (toString .ID) } method="POST">
                <button class="btn-danger" onclick="return confirm('Are you sure you want to uninstall?')">uninstall</button>
                <input type="hidden" name="install_id" value="{ .ID }">
              </form>
            </div>
          </div>
        </div>
      }
    </div>
  } else {
    <span>
      No GitHub app found.
      { if .CanCreateApp }
        Create an app <a id="new-github-app-link" class="underline" href="{ newGithubAppPath }">here</a>.
      } else {
        To create an app you need to possess the <a class="underline" href="https://docs.otf.ninja/latest/auth/site_admins/">site admin</a> role.
      }
    </span>
  }
}
