<span class="flex gap-1">
  Deleted GitHub app from OTF. You should also delete the app from <a class="flex underline gap-1 items-center" href="{{ .AdvancedURL }}" target="GithubTab">GitHub <img class="h-5" src="{{ addHash "/static/images/external_link_icon.svg" }}"></a>.
</span>
