{{ template "layout" . }}

{{ define "content-header-title" }}modules{{ end }}

{{ define "content-header-actions" }}
  <form action="{{ newModulePath .Organization }}" method="GET">
    <button class="btn" id="list-module-vcs-providers-button">Publish</button>
  </form>
{{ end }}


{{ define "content" }}
  <div id="content-list" class="content-list">
    {{ range .Items }}
      {{ block "content-list-item" . }}{{ end }}
    {{ else }}
      No published modules.
    {{ end }}
  </div>
{{ end }}

{{ define "content-list-item" }}
  <div class="widget">
    <div>
      <a href="{{ modulePath .ID }}">{{ .Name }}</a>
      <span>{{ durationRound .CreatedAt }} ago</span>
    </div>
    {{ template "identifier" . }}
  </div>
{{ end }}
