{{ template "layout" . }}

{{ define "content-header-title" }}modules{{ end }}

{{ define "content-header-actions" }}
  {{ if .CanPublishModule }}
    <form action="{{ newModulePath .Organization }}" method="GET">
      <button class="btn" id="list-module-vcs-providers-button">Publish</button>
    </form>
  {{ end }}
{{ end }}


{{ define "content" }}
  <div id="content-list">
    {{ range .Items }}
      {{ block "content-list-item" . }}{{ end }}
    {{ else }}
      No published modules.
    {{ end }}
  </div>
{{ end }}

{{ define "content-list-item" }}
  <div class="widget" x-data="block_link($el, '{{ modulePath .ID.String }}')">
    <div>
      <span>{{ .Name }}</span>
      <span>{{ durationRound .CreatedAt }} ago</span>
    </div>
    {{ template "identifier" . }}
  </div>
{{ end }}
