{{ template "layout" . }}

{{ define "content-header-title" }}
  <a href="{{ organizationsPath }}">organizations</a> / new
{{ end }}

{{ define "content" }}
  <form class="main-form" action="{{ createOrganizationPath }}" method="POST">
    <div class="field">
      <label for="name">Name</label>
      <input type="text" name="name" id="name" required>
    </div>
    <div>
      <button class="btn" id="create-organization-button">Create organization</button>
    </div>
  </form>
{{ end }}
