{{ template "layout" . }}

{{ define "content-header-title" }}settings{{ end }}

{{ define "content" }}
  {{ $canUpdate := $.CurrentUser.CanAccessOrganization .UpdateOrganizationAction .Name }}
  {{ $canDelete := $.CurrentUser.CanAccessOrganization .DeleteOrganizationAction .Name }}

  <form class="main-form" action="{{ updateOrganizationPath .Name }}" method="POST">
    <div class="field">
      <label for="name">Name</label>
      <input type="text" name="new_name" id="name" value="{{ .Name }}" required>
    </div>
    <div class="field">
      <button {{ insufficient $canDelete }}>Update organization name</button>
    </div>
  </form>
  <form action="{{ deleteOrganizationPath .Name }}" method="POST">
    <button id="delete-organization-button" class="delete" {{ insufficient $canDelete }} onclick="return confirm('Are you sure you want to delete?')">
      Delete organization
    </button>
    <input type="hidden" name="id" value="{{ .ID }}">
  </form>
{{ end }}
