{{ template "layout" . }}

{{ define "content-header-title" }}main menu{{ end }}

{{ define "content" }}
  {{ template "identifier" . }}
  <div class="flex flex-col gap-2 text-lg">
    <span id="menu-item-workspaces">
      <a href="{{ workspacesPath .Name }}">workspaces</a>
    </span>
    <span id="modules">
      <a href="{{ modulesPath .Name }}">modules</a>
    </span>
    <span id="teams">
      <a href="{{ teamsPath .Name }}">teams</a>
    </span>
    {{ if or (.CurrentUser.IsOwner .Name) .CurrentUser.IsSiteAdmin }}
    <span id="users">
      <a href="{{ usersPath .Name }}">users</a>
    </span>
    <span id="agent_tokens">
      <a href="{{ agentTokensPath .Name }}">agent tokens</a>
    </span>
    <span id="vcs_providers">
      <a href="{{ vcsProvidersPath .Name }}">VCS providers</a>
    </span>
    <span id="organization_tokens">
      <a href="{{ organizationTokenPath .Name }}">organization token</a>
    </span>
    <span id="settings">
      <a href="{{ editOrganizationPath .Name }}">settings</a>
    </span>
    {{ end }}
  </div>
{{ end }}
