{{ template "layout" . }}

{{ define "content-header-title" }}organizations{{ end }}

{{ define "content-header-actions" }}
  <form action="{{ newOrganizationPath }}" method="GET">
    <button {{ if not .CanCreate }}disabled title="organization creation has been restricted to site admins"{{ end }} id="new-organization-button" type="submit">New Organization</button>
  </form>
{{ end }}

{{ define "content" }}
  <div id="content-list" class="content-list">
    {{ range .Items }}
      <div class="item">
        <div class="item-heading">
        <a class="status" href="{{ organizationPath .Name }}">{{ .Name }}</a>
        </div>
        <div class="item-content">
          {{ template "identifier" . }}
        </div>
      </div>
    {{ else }}
      No organizations found.
    {{ end }}
    {{ template "page-navigation-links" . }}
  </div>
{{ end }}
