{{ template "layout" . }}

{{ define "content-header-title" }}organizations{{ end }}

{{ define "content-header-actions" }}
  <form action="{{ newOrganizationPath }}" method="GET">
    <button class="btn btn-sm btn-outline" {{ if not .CanCreate }}disabled title="organization creation has been restricted to site admins"{{ end }} id="new-organization-button">New Organization</button>
  </form>
{{ end }}

{{ define "content" }}
  <div id="organizations-table">
    {{ template "table" . }}
  </div>
{{ end }}

{{ define "table-header" }}
  <tr>
    <th>Name</th>
    <th>ID</th>
  </tr>
{{ end }}

{{ define "table-row" }}
  <tr id="item-org-{{ .Name }}" x-data="block_link($el, '{{ organizationPath .Name }}')">
    <td>{{ .Name }}</td>
    <th>{{ template "identifier" . }}</td>
  </tr>
{{ end }}
