{{ template "layout" . }}

{{ define "content-header-title" }}Settings{{ end }}

{{ define "content" }}
  <form class="flex flex-col gap-5" action="{{ updateOrganizationPath .Name }}" method="POST">
    <fieldset class="fieldset">
      <legend class="fieldset-legend">Name</legend>
      <input class="input w-80" type="text" name="new_name" id="name" value="{{ .Name }}" required>
    </fieldset>
    <div class="field">
      <button class="btn w-72">Update organization name</button>
    </div>
  </form>
  <hr class="my-4">
  <h3 class="font-semibold text-lg mb-2">Advanced</h3>
  <form action="{{ deleteOrganizationPath .Name }}" method="POST">
    <button id="delete-organization-button" class="btn btn-warning" onclick="return confirm('Are you sure you want to delete?')">
      Delete organization
    </button>
    <input type="hidden" name="id" value="{{ .ID }}">
  </form>
{{ end }}
