{{ template "layout" . }}

{{ define "content-header-title" }}profile{{ end }}

{{ define "content-header-links" }}{{ template "profile-header" . }}{{ end }}

{{ define "content" }}
  <p>You are logged in as <span class="bg-gray-200">{{ .User.Username }}</span></p>
  <br>
  <form action="{{ logoutPath }}" method="POST">
    <button class="btn" id="logout">logout</button>
  </form>
{{ end }}
