{{ template "layout" . }}

{{ define "content-header-title" }}profile{{ end }}

{{ define "content-header-links" }}{{ template "profile-header" . }}{{ end }}

{{ define "content" }}
  <p>You are logged in as <span class="data">{{ .User.Username }}</span></p>
  <form action="{{ logoutPath }}" method="POST">
    <button id="logout" type="submit">logout</button>
  </form>
{{ end }}
