{{ template "layout" . }}

{{ define "content-header-title" }}
  <div class="breadcrumbs">
    <ul>
      <li><a href="{{ workspacesPath .Workspace.Organization }}">workspaces</a></li>
      <li><a href="{{ workspacePath .Workspace.ID.String }}">{{ .Workspace.Name }}</a></li>
      <li>runs</li>
    </ul>
  </div>
{{ end }}

{{ define "content" }}
    {{ template "list" . }}
{{ end }}

{{ define "workspaces_submenu" }}
    {{ template "workspaces_submenu_partial" . }}
{{ end }}

{{ define "list-row" }} <li class="list-row" x-data="block_link($el, '{{ runPath .ID.String }}')" id="{{ .ID.String }}">
    <div class="avatar avatar-placeholder">
      <div class="bg-neutral text-neutral-content w-12 rounded">
        <span class="text-3xl">D</span>
      </div>
    </div>
    <div class="flex flex-col items-baseline justify-between gap-2">
      <div class="flex items-center gap-2">
        <div>{{ template "run-status" . }}</div>
        <div>{{ template "run-source" . }}</div>
      </div>
      <div>{{ template "identifier" . }}</div>
    </div>
    {{ with .IngressAttributes }}
      {{ with .SenderUsername }}
        <td class="inline-block max-w-[16rem] truncate">
          <a id="vcs-username" href="{{ $.IngressAttributes.SenderHTMLURL }}">@{{ . }}</a>
        </td>
      {{ end }}
    {{ else }}
      {{ with .CreatedBy }}
        <td class="inline-block max-w-[16rem] truncate" id="run-created-by">
          @{{ . }}
        </td>
      {{ end }}
    {{ end }}
    <div class="flex flex-col justify-between gap-2 text-right">
      <div>
        {{ with .Apply.ResourceReport }}
          {{ template "resource-report" . }}
        {{ else }}
          {{ with .Plan.ResourceReport }}
            {{ template "resource-report" . }}
          {{ end }}
        {{ end }}
      </div>
      <div>{{ durationRound .CreatedAt }} ago</div>
    </div>
  </li>
{{ end }}
