{{ template "layout" . }}

{{ define "pre-content" }}
  <link rel="stylesheet" href="{{ addHash "/static/css/terminal.css" }}">
  <script src="{{ addHash "/static/js/tail.js" }}"></script>
{{ end }}

{{ define "content-header-title" }}
  <a href="{{ workspacesPath .Workspace.Organization }}">workspaces</a>
  /
  <a href="{{ workspacePath .Workspace.ID }}">{{ .Workspace.Name }}</a>
  /
  <a href="{{ runsPath .Workspace.ID }}">runs</a>
  /
  {{ .Run.ID }}
{{ end }}

{{ define "content" }}
  <div class="flex gap-4">
    {{ template "run-elapsed-time" .Run }}
    <div class="text-sm">Terraform version: <span class="bg-gray-200 p-0.5">{{ .Run.TerraformVersion }}</span></div>
  </div>
  {{ template "period-report" .Run }}
  <div class="flex flex-col gap-4">
    <div hx-ext="sse" sse-connect="{{ watchWorkspacePath .Workspace.ID }}?run_id={{ .Run.ID }}">
      {{ template "run-item" .Run }}
    </div>
    <details id="plan" open>
      <summary class="cursor-pointer py-2">
        <div class="inline-flex gap-2">
          <span class="font-semibold">plan</span>
          {{ template "phase-status" .Run.Plan }}
          <span class="">{{ .Run.Plan.RunningTime }}</span>
        </div>
      </summary>
      <div class="bg-black text-white whitespace-pre-wrap break-words p-4 text-sm leading-snug font-mono">
        {{- trimHTML .PlanLogs.ToHTML }}<div id="tailed-plan-logs"></div></div>
    </details>
    <details id="apply" open>
      <summary class="cursor-pointer py-2">
        <span class="font-semibold">apply</span>
        {{ template "phase-status" .Run.Apply }}
        <span>{{ .Run.Apply.RunningTime }}</span>
      </summary>
      <div class="bg-black text-white whitespace-pre-wrap break-words p-4 text-sm leading-snug font-mono">
        {{- trimHTML .ApplyLogs.ToHTML }}<div id="tailed-apply-logs"></div></div>
    </details>
    <hr class="my-4">
    <div id="run-actions-container" class="border p-2">
      {{ template "run-actions" .Run }}
    </div>
  </div>
{{ end }}

{{ define "post-content" }}
  {{ if not .PlanLogs.IsEnd }}
    <script type="text/javascript">
      setupTail({{ tailRunPath .Run.ID }}, 'plan', {{ .PlanLogs.NextOffset }});
    </script>
  {{ end }}
  {{ if not .ApplyLogs.IsEnd }}
    <script type="text/javascript">
      setupTail({{ tailRunPath .Run.ID }}, 'apply', {{ .ApplyLogs.NextOffset }});
    </script>
  {{ end }}
{{ end }}

