{{ template "layout" . }}

{{ define "content-header-title" }}
  <div class="breadcrumbs">
    <ul>
      <li><a href="{{ workspacesPath .Workspace.Organization }}">workspaces</a></li>
      <li><a href="{{ workspacePath .Workspace.ID.String }}">{{ .Workspace.Name }}</a></li>
      <li>runs</li>
    </ul>
  </div>
{{ end }}

{{ define "content" }}
    {{ template "list" . }}
{{ end }}

{{ define "workspaces_submenu" }}
    {{ template "workspaces_submenu_partial" . }}
{{ end }}

{{ define "list-row" }}
    <a href="{{ runPath .ID.String }}" class="avatar avatar-placeholder">
      {{ $createdBy := .CreatedBy }}
      {{ with .IngressAttributes }}
        {{ $createdBy := .SenderUsername }}
      {{ end }}
      <div title="Run triggered by {{ $createdBy }}" class="bg-neutral text-neutral-content w-12 rounded">
        <span class="text-3xl">D</span>
      </div>
    </a>
    <div class="flex flex-col items-baseline justify-between gap-2">
      <div>{{ template "run-status" . }}</div>
      <div class="flex items-center gap-2">
        <a href="{{ runPath .ID.String }}" class="font-mono break-all text-xs">{{ .ID }}</a>
        <div>{{ template "run-source" . }}</div>
      </div>
    </div>
    <div class="flex flex-col justify-between gap-2 text-right">
      <a href="{{ runPath .ID.String }}">
        {{ with .Apply.ResourceReport }}
          {{ template "resource-report" . }}
        {{ else }}
          {{ with .Plan.ResourceReport }}
            {{ template "resource-report" . }}
          {{ end }}
        {{ end }}
      </a>
      <div>{{ durationRound .CreatedAt }} ago</div>
    </div>
{{ end }}
