{{ template "layout" . }}

{{ define "pre-content" }}
  <link rel="stylesheet" href="{{ addHash "/static/css/terminal.css" }}">
  <link rel="stylesheet" href="{{ addHash "/static/css/run_get.css" }}">
  <script src="{{ addHash "/static/js/tail.js" }}"></script>
{{ end }}

{{ define "content-header-title" }}
  <a href="{{ workspacesPath .Workspace.Organization }}">workspaces</a>
  /
  <a href="{{ workspacePath .Workspace.ID }}">{{ .Workspace.Name }}</a>
  /
  <a href="{{ runsPath .Workspace.ID }}">runs</a>
  /
  {{ .Run.ID }}
{{ end }}

{{ define "content" }}
  <div hx-ext="sse" sse-connect="{{ watchWorkspacePath .Workspace.ID }}?run_id={{ .Run.ID }}">
    {{ template "run-item" .Run }}
  </div>
  <div id="plan" class="item">
    <div class="item-heading">
      <span class="inline-heading">plan</span>
      {{ template "phase-status" .Run.Plan }}
    </div>
    <div>
      <div class="term-container">
        {{- trimHTML .PlanLogs.ToHTML }}<div id="tailed-plan-logs"></div></div>
    </div>
  </div>
  <div id="apply" class="item">
    <div class="item-heading">
      <span class="inline-heading">apply</span>
      {{ template "phase-status" .Run.Apply }}
    </div>
    <div class="term-container">
      {{- trimHTML .ApplyLogs.ToHTML }}<div id="tailed-apply-logs"></div></div>
  </div>
  <div id="run-actions-container" class="item">
    {{ template "run-actions" .Run }}
  </div>
{{ end }}

{{ define "post-content" }}
  {{ if not .PlanLogs.IsEnd }}
    <script type="text/javascript">
      setupTail({{ tailRunPath .Run.ID }}, 'plan', {{ .PlanLogs.NextOffset }});
    </script>
  {{ end }}
  {{ if not .ApplyLogs.IsEnd }}
    <script type="text/javascript">
      setupTail({{ tailRunPath .Run.ID }}, 'apply', {{ .ApplyLogs.NextOffset }});
    </script>
  {{ end }}
{{ end }}

