{{ template "run-item" . }}
{{ template "phase-status" .Plan }}
{{ template "phase-status" .Apply }}
{{ template "run-actions" . }}
{{ template "period-report" . }}
{{ template "running-time" . }}
{{ template "running-time" .Plan }}
{{ template "running-time" .Apply }}
