{{ template "layout" . }}

{{ define "content-header-title" }}Runners{{ end }}

{{ define "content" }}
  <div class="description max-w-2xl">
    A runner handles the execution of runs. There are two types of runners: the runner built into <span class="bg-gray-200 font-mono p-0.5 text-xs">otfd</span> which handles runs for workspaces with the <span class="font-bold">remote</span> execution mode; and <span class="bg-gray-200 font-mono p-0.5 text-xs">otf-agent</span>, which handles runs for workspaces with the <span class="font-bold">agent</span> execution mode.
  </div>
  {{ template "table" . }}
{{ end }}

{{ define "table-header" }}
  <tr>
    <th>ID</th>
    <th>Status</th>
    <th>Capacity</th>
    <th>Last Seen</th>
  </tr>
{{ end }}

{{ define "table-row" }}
  {{ $statusColors := dict
    "idle" "bg-green-100"
    "busy" "bg-blue-200"
    "unknown" "bg-gray-100"
    "errored" "bg-red-100"
    "exited" "bg-purple-100"
  }}

  <tr>
    <td>{{ template "copyable_content" .ID }}</td>
    <td><div class="badge {{ get $statusColors (toString .Status) }}">{{ .Status }}</div></td>
    <td class="text-sm" title="{{ .CurrentJobs }} jobs are currently allocated out of a maximum of {{ .MaxJobs }} jobs">({{ .CurrentJobs }}/{{ .MaxJobs }})</td>
    <td>{{ template "ago" .LastPingAt }}</td>
  </tr>
{{ end }}
