{{ template "layout" . }}

{{ define "container" }}
  {{ template "flash" . }}
  <div class="m-auto">
    <form class="" action="/admin/login" method="POST">
      <div class="join">
        <div>
          <label class="input validator join-item">
            <input placeholder="Site admin token" type="password" name="token" id="token" required>
          </label>
          <div class="validator-hint hidden">Enter valid token</div>
        </div>
        <button class="btn join-item">Login</button>
      </div>
    </form>
  </div>
{{ end }}
