{ template "layout" . }

{ define "content-header-title" }site settings}

{ define "content" }
  <div class="flex flex-col gap-2 text-lg">
    <span>
      <a href={ githubAppsPath }>GitHub app</a>
    </span>
  </div>
}
