<div role="tablist" class="tabs tabs-lifted">
  <input type="radio" checked="checked" name="my_tabs_2" role="tab" class="tab whitespace-nowrap" aria-label="Resources ({{ len .Resources }})" />
  <div role="tabpanel" class="tab-content bg-base-100 border-base-300 rounded-box p-6">
    <table class="table table-zebra w-full text-left break-words border-collapse" id="resources-table">
      {{ with .Resources }}
        <thead class="">
          <tr>
            <th>Name</th>
            <th>Provider</th>
            <th>Type</th>
            <th>Module</th>
          </tr>
        </thead>
      {{ end }}
      <tbody class="">
        {{ range .Resources }}
          <tr class="even:bg-gray-100">
            <td>{{ .Name }}</td>
            <td>{{ .Provider }}</td>
            <td>{{ .Type }}</td>
            <td>{{ .ModuleName }}</td>
          </tr>
        {{ else }}
          <tr class="">
            <td>No resources currently exist.</td>
          </tr>
        {{ end }}
      </tbody>
    </table>
  </div>

  <input type="radio" name="my_tabs_2" role="tab" class="tab whitespace-nowrap" aria-label="Outputs ({{ len .Outputs }})" />
  <div role="tabpanel" class="tab-content bg-base-100 border-base-300 rounded-box p-6">
    <table
      class="table table-zebra w-full text-left break-words border-collapse"
      id="outputs-table"
    >
      {{ with .Outputs }}
        <thead class="">
          <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Value</th>
          </tr>
        </thead>
      {{ end }}
      <tbody class="">
        {{ range $k, $v := .Outputs }}
          <tr>
            <td>{{ $k }}</td>
            <td>{{ $v.Type }}</td>
            <td><span class="">{{ $v.StringValue }}</span></td>
          </tr>
        {{ else }}
          <tr class="">
            <td>No outputs currently exist.</td>
          </tr>
        {{ end }}
      </tbody>
    </table>
  </div>
</div>
