{{ template "layout" . }}

{{ define "content-header-title" }}
  <a href="{{ teamsPath .Organization }}">teams</a>
  /
{{ .Team.Name }}{{ end }}

{{ define "content" }}
  {{ $canDelete := .CurrentUser.CanAccessOrganization .DeleteTeamAction .Organization }}
  {{ $canSetPermission := .CurrentUser.IsOwner .Organization }}
  {{ $canAddMember := .CurrentUser.CanAccessOrganization .AddTeamMembershipAction .Organization }}
  {{ $canRemoveMember := .CurrentUser.CanAccessOrganization .RemoveTeamMembershipAction .Organization }}
  <h3 class="font-semibold my-2 text-lg">Permissions</h3>
  <form class="flex flex-col gap-5" action="{{ updateTeamPath .Team.ID }}" method="POST">
    <div class="form-checkbox">
      <input
        type="checkbox"
        name="manage_workspaces"
        id="manage_workspaces"
        value="true"
        {{ if or .Team.OrganizationAccess.ManageWorkspaces .Team.IsOwners }}checked{{ end }}
        {{ if or (not $canSetPermission) .Team.IsOwners }}disabled{{ end }}
      >
      <label for="manage_workspaces">Manage Workspaces</label>
      <span>Allows members to create and administrate all workspaces within the organization.</span>
    </div>
    <div class="form-checkbox">
      <input
        type="checkbox"
        name="manage_vcs"
        id="manage_vcs"
        value="true"
        {{ if or .Team.OrganizationAccess.ManageVCS .Team.IsOwners }}checked{{ end }}
        {{ if or (not $canSetPermission) .Team.IsOwners }}disabled{{ end }}
      >
      <label for="manage_vcs">Manage VCS Settings</label>
      <span>Allows members to manage the set of VCS providers available within the organization.</span>
    </div>
    <div class="form-checkbox">
      <input
        type="checkbox"
        name="manage_modules"
        id="manage_modules"
        value="true"
        {{ if or .Team.OrganizationAccess.ManageModules .Team.IsOwners }}checked{{ end }}
        {{ if or (not $canSetPermission) .Team.IsOwners }}disabled{{ end }}
      >
      <label for="manage_modules">Manage Modules</label>
      <span for="manage_modules">Allows members to publish and delete modules within the organization.</span>
    </div>
    <div class="field">
      <button class="btn w-40"
        {{ if .Team.IsOwners }}
          title="cannot edit permissions of owners team" disabled
        {{ else }}
          {{ insufficient $canSetPermission }}
        {{ end }}
      >Save changes</button>
    </div>
  </form>
  <hr class="my-4">
  <h3 class="font-semibold my-2 text-lg">Members</h3>
  <form action="{{ addMemberTeamPath .Team.ID }}" method="POST">
    <select id="select-add-member" name="username" {{ disabled (not $canAddMember) }}>
      <option value="">-- select user --</option>
      {{ range .NonMembers }}
        <option value="{{ .Username }}">{{ .Username }}</option>
      {{ else }}
        <option value="">No users found</option>
      {{ end }}
    </select>
    <button class="btn" {{ insufficient $canAddMember }}>Add member</button>
  </form>
  <div id="content-list">
    {{ range .Members }}
      <div id="item-user-{{ .Username }}" class="widget">
        <div>
          <span id="username">{{ .Username }}</span>
        </div>
        <div>
          {{ template "identifier" . }}
          <form action="{{ removeMemberTeamPath $.Team.ID }}" method="POST">
            <input type="hidden" name="username" id="delete-username" value="{{ .Username }}">
            <button id="remove-member-button" class="btn-danger" {{ insufficient $canRemoveMember }}>
              Remove member
            </button>
          </form>
        </div>
      </div>
    {{ else }}
      The team currently has no members.
    {{ end }}
  </div>
  <hr class="my-4">
  <h3 class="font-semibold my-2 text-lg">Advanced</h3>
  <form action="{{ deleteTeamPath .Team.ID }}" method="POST">
    <button
      class="btn-danger"
      {{ if .Team.IsOwners }}
        title="the owners team cannot be deleted" disabled
      {{ else }}
        {{ insufficient $canDelete }}
      {{ end }}
      onclick="return confirm('Are you sure you want to delete?')">Delete team</button>
    <input type="hidden" name="id" value="{{ .Team.ID }}">
  </form>
{{ end }}
