{{ template "layout" . }}

{{ define "content-header-title" }}teams{{ end }}

{{ define "content-header-actions" }}
  {{ if .CanCreateTeam }}
    <form action="{{ newTeamPath .Organization }}" method="GET">
      <button class="btn" id="new-team-button">
        New Team
      </button>
    </form>
  {{ end }}
{{ end }}

{{ define "content" }}
  <div id="content-list">
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>ID</th>
        </tr>
      </thead>
      {{ range .Teams }}
        <tr id="item-team-{{ .Name }}" x-data="block_link($el, '{{ teamPath .ID.String }}')">
          <td>{{ .Name }}</td>
          <th>{{ template "identifier" . }}</td>
        </tr>
      {{ else }}
        No teams currently exist.
      {{ end }}
    </table>
  </div>
{{ end }}
