{{ template "layout" . }}

{{ define "content-header-title" }}teams{{ end }}

{{ define "content-header-actions" }}
  {{ $canCreate := .CurrentUser.CanAccessOrganization .CreateTeamAction .Organization }}
  <form action="{{ newTeamPath .Organization }}" method="GET">
    <button class="btn" id="new-team-button" {{ insufficient $canCreate }}>
      New Team
    </button>
  </form>
{{ end }}

{{ define "content" }}
  <div id="content-list" class="content-list">
    {{ range .Teams }}
      <div id="item-team-{{ .Name }}" class="widget">
        <div>
          <a class="status" href="{{ teamPath .ID }}">{{ .Name }}</a>
        </div>
        <div>
          {{ template "identifier" . }}
        </div>
      </div>
    {{ else }}
      No teams currently exist.
    {{ end }}
  </div>
{{ end }}
