{ if .CanAddMember }
  { template "search-dropdown" .AddMemberDropdown }
}
<div id="content-list">
  for k, v := range .Members {
    <div id="item-user-{ .Username }" class="widget">
      <div>
        <span id="username">{ .Username }</span>
      </div>
      <div>
        { template "identifier" . }
        { if $.CanRemoveMember }
          <form action={ removeMemberTeamPath $.Team.ID.String } method="POST">
            <input type="hidden" name="username" id="delete-username" value="{ .Username }">
            <button id="remove-member-button" class="btn-danger">
              Remove member
            </button>
          </form>
        }
      </div>
    </div>
  } else {
    The team currently has no members.
  }
</div>
