{{ template "layout" . }}

{{ define "content-header-title" }}
  <div><a href="{{ profilePath }}">profile</a> / <a href="{{ tokensPath }}">tokens</a> / new</div>
{{ end }}

{{ define "content" }}
  <form class="main-form" action="{{ createTokenPath }}" method="POST">
    <div class="field">
      <label for="description">Description</label>
      <input type="text" name="description" id="description" required>
    </div>
    <div class="field">
      <button>Create token</button>
    </div>
  </form>
{{ end }}
