{ template "layout" . }

{ define "content-header-title" }
  <div><a href={ profilePath }">profile</a> / <a href="{ tokensPath }>tokens</a> / new</div>
}

{ define "content" }
  <form class="flex flex-col gap-2" action={ createTokenPath } method="POST">
    <div class="field">
      <label for="description">Description</label>
      <textarea class="text-input w-80" name="description" id="description" required></textarea>
    </div>
    <div>
      <button class="btn">Create token</button>
    </div>
  </form>
}
