{ template "layout" . }

{ define "content-header-title" }users}

{ define "content" }
  <div id="content-list">
    for k, v := range .Users {
      { block "content-list-item" . }}
    } else {
      No items currently exist.
    }
  </div>
}

{ define "content-list-item" }
  <div id="item-user-{ .Username }" class="widget">
    <span id="username">{ .Username }</span>
    { template "identifier" . }
  </div>
}
