{ template "layout" . }

{ define "content-header-title" }
  <div><a href="{ profilePath }">profile</a> / tokens</div>
}

{ define "content-header-actions" }
  <form action={ newTokenPath } method="GET">
    <button class="btn" id="new-user-token-button">New Token</button>
  </form>
}

{ define "content-header-links" }{ template "profile-header" . }}

{ define "content" }
  { template "content-list" . }
}

{ define "content-list-item" }
  <div class="widget">
    <div>
      <span>{ .Description }</span>
      <span>{ durationRound .CreatedAt } ago</span>
    </div>
    <div>
      { template "identifier" . }
      <form action={ deleteTokenPath } method="POST">
        <button class="btn-danger" onclick="return confirm('Are you sure you want to delete?')">delete</button>
        <input type="hidden" name="id" value="{ .ID }">
      </form>
    </div>
  </div>
}
