{{ template "layout" . }}

{{ define "content-header-title" }}users{{ end }}

{{ define "content" }}
  <div id="content-list" class="content-list">
    {{ range .Users }}
      {{ block "content-list-item" . }}{{ end }}
    {{ else }}
      No items currently exist.
    {{ end }}
  </div>
{{ end }}

{{ define "content-list-item" }}
  <div id="item-user-{{ .Username }}" class="widget">
    <span id="username">{{ .Username }}</span>
    {{ template "identifier" . }}
  </div>
{{ end }}
