{{ template "layout" . }}

{{ define "content-header-title" }}
  <div><a href="{{ profilePath }}">profile</a> / tokens</div>
{{ end }}

{{ define "content-header-actions" }}
  <form action="{{ newTokenPath }}" method="GET">
    <button id="new-user-token-button" type="submit">New Token</button>
  </form>
{{ end }}

{{ define "content-header-links" }}{{ template "profile-header" . }}{{ end }}

{{ define "content" }}
  {{ template "content-list" . }}
{{ end }}

{{ define "content-list-item" }}
  <div class="item">
    <div class="item-heading">
      <span class="status">{{ .Description }}</span>
      <span class="status-ago">{{ durationRound .CreatedAt }} ago</span>
    </div>
    <div class="item-content">
      {{ template "identifier" . }}
      <form action="{{ deleteTokenPath }}" method="POST">
        <button class="delete" onclick="return confirm('Are you sure you want to delete?')">delete</button>
        <input type="hidden" name="id" value="{{ .ID }}">
      </form>
    </div>
  </div>
{{ end }}
