{{ template "layout" . }}

{{ define "content-header-title" }}
  {{ template "variables-breadcrumb" . }} / new
{{ end }}

{{ define "content" }}
  Add a new workspace variable.

  {{ template "variable-form" . }}
{{ end }}
