{ template "layout" . }

{ define "content-header-title" }
  <a href="{ variableSetsPath .VariableSet.Organization }">variable sets</a> /
  { .VariableSet.Name } /
  edit
}

{ define "content" }
  <span class="text-xl">Edit variable set</span>

  { template "variable-set-form" . }

  <hr class="my-4">

  <h3 class="text-xl">Variables</h3>
  { template "variable-table" .VariableTable }
  <form class="mt-2" action={ newVariableSetVariablePath $.VariableSet.ID.String } method="GET">
    <button class="btn" id="add-variable-button">Add variable</button>
  </form>
}
