{{ template "layout" . }}

{{ define "content-header-title" }}
  {{ template "workspace-variables-breadcrumb" . }} / new
{{ end }}

{{ define "content" }}
  <span class="text-xl">Add a new workspace variable.</span>

  {{ template "variable-form" . }}
{{ end }}
