{{ template "layout" . }}

{{ define "content-header-title" }}
  {{ template "variables-breadcrumb" . }}
{{ end }}

{{ define "content-header-links" }}
  {{ template "workspace-header-links" . }}
{{ end }}

{{ define "content" }}
  {{ $canCreate := $.CurrentUser.CanAccessWorkspace .CreateVariableAction .Policy }}
  {{ $canDelete := $.CurrentUser.CanAccessWorkspace .DeleteVariableAction .Policy }}
  <table id="variables-table">
    <thead>
      <tr>
        <th class="row-key">Key</th>
        <th class="row-value">Value</th>
        <th class="row-category">Category</th>
        <th class="row-delete-button"></th>
      </tr>
    </thead>
    <tbody>
      {{ range .Variables }}
        <tr>
          <td><a class="show-underline" href="{{ editVariablePath .ID }}">{{ .Key }}</a></td>
          <td>{{ if .Sensitive }}<span class="data">hidden</span>{{ else }}{{ .Value }}{{ end }}</td>
          <td>{{ .Category }}</td>
          <td>
            <form action="{{ deleteVariablePath .ID }}" method="POST">
              <button id="delete-variable-button" class="btn-danger" onclick="return confirm('Are you sure you want to delete?')" {{ insufficient $canDelete }} >Delete</button>
            </form>
          </td>
        </tr>
      {{ else }}
        <tr>
          <td>No variables currently exist.</td>
        </tr>
      {{ end }}
    </tbody>
  </table>
  <form action="{{ newVariablePath $.Workspace.ID }}" method="GET">
    <button class="btn" {{ insufficient $canCreate }}>Add variable</button>
  </form>
{{ end }}
