{ template "layout" . }

{ define "content-header-title" }
  <a href="{ variableSetsPath .VariableSet.Organization }">variable sets</a> /
  <a href="{ editVariableSetPath .VariableSet.ID.String }">{ .VariableSet.Name }</a> /
  variables /
  { .Variable.ID } /
  edit
}

{ define "content" }
  <span class="text-xl">Edit variable.</span>

  { template "variable-form" . }
}
