{{ template "layout" . }}

{{ define "content-header-title" }}variable sets{{ end }}

{{ define "content-header-actions" }}
  {{ if .CanCreate }}
    <form action="{{ newVariableSetPath .Organization }}" method="GET">
      <button class="btn" id="new-variable-set-button">
        New Variable Set
      </button>
    </form>
  {{ end }}
{{ end }}

{{ define "content" }}
  <div id="content-list" class="content-list">
    {{ range .VariableSets }}
      {{ block "content-list-item" . }}{{ end }}
    {{ else }}
      No variable sets currently exist.
    {{ end }}
  </div>
{{ end }}

{{ define "content-list-item" }}
  <div id="item-variable-set-{{ .ID }}" class="widget">
    <span id="name">{{ .Name }}</span>
    {{ template "identifier" . }}
  </div>
{{ end }}
