{ template "layout" . }

{ define "content-header-title" }
  <a href={ variableSetsPath .Organization }>variable sets</a> / new
}

{ define "content" }
  <span class="text-xl">Add a new variable set.</span>

  { template "variable-set-form" . }
}
