{ template "layout" . }

{ define "content-header-title" }
  { template "workspace-variables-breadcrumb" . } / edit
}

{ define "content" }
  <span class="text-xl">Edit workspace variable.</span>

  { template "variable-form" . }
}
