{{ template "layout" . }}

{{ define "container-header" }}
  {{ template "variables-breadcrumb" . }} / new
{{ end }}

{{ define "content" }}
  Add a new workspace variable.

  {{ template "variable-form" . }}
{{ end }}
