{{ template "layout" . }}

{{ define "content-header-title" }}
  <span class="text-xl">Edit variable set</span>
{{ end }}

{{ define "variable_sets_submenu" }}
  <ul>
    <li>
      <a href="{{ editVariableSetPath .ID.String }}">{{ .Name }}</a>
    </li>
  </ul>
{{ end }}

{{ define "content" }}

  {{ template "variable-set-form" . }}

  <hr class="my-4">

  <h3 class="text-xl">Variables</h3>
  {{ template "variable-table" . }}
  <form class="mt-2" action="{{ newVariableSetVariablePath $.VariableSet.ID.String }}" method="GET">
    <button class="btn" id="add-variable-button">Add variable</button>
  </form>
{{ end }}
