{{ template "layout" . }}

{{ define "content-header-title" }}
  <div>New Github VCS Provider</div>
{{ end }}

{{ define "content" }}
  <div>
    Create a Github VCS provider with a <a class="underline" href="https://github.com/settings/tokens">personal token</a> with the <span class="bg-gray-200">repo</span> scope.
    Enter the token below along with a descriptive name.
  </div>

  {{ template "create_vcs_provider_form" . }}
{{ end }}
