{{ template "layout" . }}

{{ define "content-header-title" }}
  <a href="{{ vcsProvidersPath .Organization }}">vcs providers</a>
  /
  {{ .VCSProvider.String }}
  /
  settings
{{ end }}

{{ define "content" }}
  {{ template "vcs_provider_form" . }}
  <hr class="my-4">
  <h3 class="font-semibold text-lg mb-2">Advanced</h3>
  <form action="{{ deleteVCSProviderPath .VCSProvider.ID }}" method="POST">
    <button id="delete-vcs-provider-button" class="btn-danger" onclick="return confirm('Are you sure you want to delete?')">
      Delete VCS provider
    </button>
  </form>
{{ end }}
