{ template "layout" . }

{ define "content-header-title" }VCS Providers}

{ define "content" }
  <div>
  To connect workspaces and publish modules, OTF needs access to your version control system (VCS) provider. Use this page to create and list access to VCS providers.
  </div>

  <div id="content-list">
    for k, v := range .Items {
      { block "content-list-item" . }}
    } else {
      No VCS providers are currently configured.
    }
  </div>

  <div class="flex flex-col gap-4 mt-4">
    <form action={ newVCSProviderPath $.Organization } method="GET">
      <button class="btn">New Github VCS Provider (Personal Token)</button>
      <input type="hidden" name="kind" id="kind" value="github">
    </form>
    <form action={ newVCSProviderPath $.Organization } method="GET">
      <button class="btn">New Gitlab VCS Provider (Personal Token)</button>
      <input type="hidden" name="kind" id="kind" value="gitlab">
    </form>
    { if .GithubApp }
      <form action={ newGithubAppVCSProviderPath $.Organization } method="GET">
        <button class="btn">New Github VCS Provider (App)</button>
      </form>
    } else {
      <span>Alternatively, <a class="underline" href={ newGithubAppPath }>create a GitHub app</a> and you will be able to create VCS providers using a Github app installation.</span>
    }
  </div>
}

{ define "content-list-item" }
  <div x-data="block_link($el, '{ editVCSProviderPath .ID.String }')" id={ .ID.String } class="widget">
    <div>
      <span>
        <a id="edit-vcs-provider-link" href={ editVCSProviderPath .ID.String }>{ .String }</a>
      </span>
      <span>{ durationRound .CreatedAt } ago</span>
    </div>
    <div>
      { template "identifier" . }
      <form action={ deleteVCSProviderPath .ID.String } method="POST">
        <button class="btn-danger" onclick="return confirm('Are you sure you want to delete?')">delete</button>
        <input type="hidden" name="id" value={ .ID }>
      </form>
    </div>
  </div>
}
