{{ template "layout" . }}

{{ define "content-header-title" }}
  <a href="{{ workspacesPath .Organization }}">workspaces</a>
  /
  <a href="{{ workspacePath .Workspace.ID.String }}">{{ .Workspace.Name }}</a>
  /
  vcs providers
{{ end }}

{{ define "content" }}
  <div>
    Select a <a class="underline" href="{{ vcsProvidersPath .Organization }}">VCS provider</a> to connect this workspace to a repository.
  </div>

  <div id="content-list">
    {{ range .Items }}
      {{ $path := (printf "%s?vcs_provider_id=%s" (setupConnectionRepoWorkspacePath $.Workspace.ID.String) .ID.String) }}
      <div class="widget" x-data="block_link($el, '{{ $path }}')" id="{{ .ID }}">
        <div>
          <span class="font-semibold">{{ .String }}</span>
          <span>{{ durationRound .CreatedAt }} ago</span>
        </div>
        <div>
          {{ template "identifier" . }}
        </div>
      </div>
    {{ else }}
      No VCS providers are currently configured. Create a VCS provider <a class="underline" href="{{ vcsProvidersPath $.Organization }}">here</a>.
    {{ end }}
  </div>
{{ end }}
