{{ template "layout" . }}

{{ define "content-header-title" }}
  <a href="{{ workspacesPath .Organization }}">workspaces</a>
  /
  <a href="{{ workspacePath .Workspace.ID }}">{{ .Workspace.Name }}</a>
  /
  vcs providers
{{ end }}

{{ define "content" }}
  <div>
    Select a VCS provider to use to connect this workspace to a repository.
  </div>

  <div id="content-list" class="content-list">
    {{ range .Items }}
      <div class="widget">
        <div>
          <span class="font-semibold">
            <a href="{{ setupConnectionRepoWorkspacePath $.Workspace.ID }}?vcs_provider_id={{ .ID }}">
              {{ .Name }}
            </a>
          </span>
          <span class="status-ago">{{ durationRound .CreatedAt }} ago</span>
        </div>
        <div>
          {{ template "identifier" . }}
        </div>
      </div>
    {{ else }}
      No VCS providers are currently configured.
    {{ end }}
  </div>
{{ end }}
