{{ template "layout" . }}

{{ define "pre-content" }}
  <link rel="stylesheet" href="{{ addHash "/static/css/workspace_tags.css" }}">
  <link rel="stylesheet" href="{{ addHash "/static/css/workspace_list.css" }}">
{{ end }}

{{ define "content-header-title" }}workspaces{{ end }}

{{ define "content-header-actions" }}
  {{ $canCreate := $.CurrentUser.CanAccessOrganization .CreateWorkspaceAction .Organization }}
  <form action="{{ newWorkspacePath .Organization }}" method="GET">
    <button id="new-workspace-button" type="submit" {{ insufficient $canCreate }}>
      New Workspace
    </button>
  </form>
{{ end }}

{{ define "content" }}
  <form method="GET">
    <div id="filters-container">
      <div class="field">
        <input type="search" name="search[name]" value="{{ .Params.Search }}" placeholder="search workspaces" hx-get="" hx-trigger="keyup changed delay:500ms, search" hx-target="#workspace-listing-container">
      </div>
      <div class="workspace-tags-list">
        {{ range $k, $v := .TagFilters }}
          <div>
            <input id="workspace-tag-filter-{{ $k }}" class="workspace-tag-filter-checkbox" name="search[tags]" value="{{ $k }}" type="checkbox" {{ checked $v }} onchange="this.form.submit()" />
            <label for="workspace-tag-filter-{{ $k }}" class="workspace-tag-filter-label">
              {{ $k }}
            </label>
          </div>
        {{ end }}
      </div>
    </div>
  </form>
  <div id="workspace-listing-container">
    {{ template "content-list" . }}
  </div>
{{ end }}

{{ define "content-list-item" }}
  {{ template "workspace-item" . }}
{{ end }}
