{{ template "layout" . }}

{{ define "content-header-title" }}
  <a href="{{ workspacesPath .Organization }}">workspaces</a>
  /
  new
{{ end }}

{{ define "content" }}
  <form class="flex flex-col gap-2" action="{{ createWorkspacePath .Organization }}" method="POST">
    <div class="field">
      <label for="name">Name</label>
      <input type="text" name="name" id="name" required>
    </div>
    <div>
      <button id="create-workspace-button">Create workspace</button>
    </div>
  </form>
{{ end }}
