{{ template "layout" . }}

{{ define "content-header-title" }}workspaces{{ end }}

{{ define "content-header-actions" }}
  {{ if .CanCreateWorkspace }}
    <form action="{{ newWorkspacePath .Organization }}" method="GET">
      <button class="btn" id="new-workspace-button">New Workspace</button>
    </form>
  {{ end }}
{{ end }}

{{ define "content" }}
  <form method="GET">
    <div class="flex gap-2 items-center">
      <label class="input input-bordered flex items-center gap-2">
        <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 16 16"
            fill="currentColor"
            class="h-4 w-4 opacity-70">
          <path
              fill-rule="evenodd"
              d="M9.965 11.026a5 5 0 1 1 1.06-1.06l2.755 2.754a.75.75 0 1 1-1.06 1.06l-2.755-2.754ZM10.5 7a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Z"
              clip-rule="evenodd" />
        </svg>
        <input class="grow" type="search" name="search[name]" value="{{ .Search }}" placeholder="search workspaces" hx-get="" hx-trigger="keyup changed delay:500ms, search" hx-target="#workspace-listing-container">
      </label>
      <div class="flex flex-wrap gap-1">
        {{ range $k, $v := .TagFilters }}
          <div>
            <input id="workspace-tag-filter-{{ $k }}" class="hidden peer" name="search[tags]" value="{{ $k }}" type="checkbox" {{ checked $v }} onchange="this.form.submit()" />
            <label for="workspace-tag-filter-{{ $k }}" class="tag bg-gray-300 peer-checked:bg-blue-800 cursor-pointer">
              {{ $k }}
            </label>
          </div>
        {{ end }}
      </div>
    </div>
  </form>
  <div id="workspace-listing-container">
    {{ template "table" . }}
  </div>
{{ end }}

{{ define "table-header" }}
  <tr>
    <th>Name</th>
    <th>ID</th>
    <th>Latest Run</th>
  </tr>
{{ end }}

{{ define "table-row" }}
  <tr x-data="block_link($el, '{{ workspacePath .ID.String }}')" id="item-workspace-{{ .Name }}">
    <td>{{ .Name }}</td>
    <td>{{ template "identifier" . }}</td>
    <td>{{ template "run-status" .LatestRun }}</td>
  </tr>
{{ end }}
