{{ template "layout" . }}

{{ define "content-header-title" }}workspaces{{ end }}

{{ define "content-header-actions" }}
  {{ $canCreate := $.CurrentUser.CanAccessOrganization .CreateWorkspaceAction .Organization }}
  <form action="{{ newWorkspacePath .Organization }}" method="GET">
    <button id="new-workspace-button" {{ insufficient $canCreate }}>
      New Workspace
    </button>
  </form>
{{ end }}

{{ define "content" }}
  <form method="GET">
    <div id="filters-container" class="flex gap-2 items-center">
      <div class="field">
        <input class="text-input bg-[url('{{ addHash "/static/images/magnifying_glass.svg" }}')] bg-[size:14px] bg-[10px] bg-no-repeat pl-10" type="search" name="search[name]" value="{{ .Search }}" placeholder="search workspaces" hx-get="" hx-trigger="keyup changed delay:500ms, search" hx-target="#workspace-listing-container">
      </div>
      <div class="flex flex-wrap gap-1">
        {{ range $k, $v := .TagFilters }}
          <div>
            <input id="workspace-tag-filter-{{ $k }}" class="hidden peer" name="search[tags]" value="{{ $k }}" type="checkbox" {{ checked $v }} onchange="this.form.submit()" />
            <label for="workspace-tag-filter-{{ $k }}" class="bg-gray-300 text-white p-1 font-semibold peer-checked:bg-blue-800">
              {{ $k }}
            </label>
          </div>
        {{ end }}
      </div>
    </div>
  </form>
  <div id="workspace-listing-container">
    {{ template "content-list" . }}
  </div>
{{ end }}

{{ define "content-list-item" }}
  {{ template "workspace-item" . }}
{{ end }}
