{{ template "layout" . }}

{{ define "content-header-title" }}
  <a href="{{ workspacesPath .Workspace.Organization }}">workspaces</a>
  /
  <a href="{{ workspacePath .Workspace.ID.String }}">{{ .Workspace.Name }}</a>
  /
  settings
{{ end }}

{{ define "content-header-links" }}
  {{ template "workspace-header-links" . }}
{{ end }}

{{ define "content" }}
  <div class="mt-3">
    {{ with .Workspace.Connection }}
      <form action="{{ disconnectWorkspacePath $.Workspace.ID.String }}" method="POST">
        <button class="btn" id="disconnect-workspace-repo-button">
          Disconnect from {{ .Repo }} ({{ $.VCSProvider.String }})
        </button>
      </form>
    {{ else }}
      <form action="{{ setupConnectionProviderWorkspacePath .Workspace.ID.String }}" method="GET">
        <button class="btn" id="list-workspace-vcs-providers-button">
          Connect to VCS
        </button>
      </form>
    {{ end }}
  </div>
  <hr class="my-4">
  <form class="flex flex-col gap-5" action="{{ updateWorkspacePath .Workspace.ID.String }}" method="POST">
    <div class="field">
      <label for="name">Name</label>
      <input class="text-input w-80" type="text" name="name" id="name" value="{{ .Workspace.Name }}" required>
    </div>
    <div class="field">
      <label for="description">Description</label>
      <textarea class="text-input w-96" rows="3" name="description" id="description">{{ .Workspace.Description }}</textarea>
    </div>
    <fieldset class="border border-slate-900 p-3 flex flex-col gap-2">
      <legend>Execution mode</legend>
      <div class="form-checkbox">
        <input type="radio" name="execution_mode" id="remote" value="remote" {{ checked .Workspace.ExecutionMode "remote" }}/>
        <label for="remote">Remote</label>
        <span class="description">Your plans and applies occur on the OTF servers.</span>
      </div>
      <div class="form-checkbox">
        <input type="radio" name="execution_mode" id="local" value="local" {{ checked .Workspace.ExecutionMode "local" }}/>
        <label for="local">Local</label>
        <span class="description">Your plans and applies occur on your local machines. OTF is only used to store and synchronize state.
</span>
      </div>
      <div class="form-checkbox">
        <input class="peer" type="radio" name="execution_mode" id="agent" value="agent" {{ checked .Workspace.ExecutionMode "agent" }}/>
        <label for="agent">Agent</label>
        <span class="description">Your plans and applies occur on OTF agents.</span>
        <div class="col-start-2 hidden peer-checked:flex flex-col mt-2 bg-gray-100 p-2 gap-2">
          <div class="flex items-center gap-2">
            <label class="text-md" for="agent-pool-id">Agent pool</label>
            <div hx-get="{{ .PoolsURL }}" hx-trigger="load" hx-swap="innerHTML"></div>
          </div>
          <span class="description">Select an agent pool. If no pools are listed then you either need to create a pool or you need to configure at least one pool to grant access to your workspace. Manage agent pools <a id="agent-pools-link" class="underline" href="{{ agentPoolsPath .Workspace.Organization }}">here</a>.</span>
        </div>
      </div>
    </fieldset>
    <fieldset class="border border-slate-900 px-3 py-3 flex flex-col gap-2">
      <legend>Apply method</legend>
      <div class="form-checkbox">
        <input type="radio" name="auto_apply" id="auto-apply" value="true" {{ checked .Workspace.AutoApply }}/>
        <label for="auto-apply">Auto apply</label>
        <span class="description">Automatically apply changes when a Terraform plan is successful. Plans that have no changes will not be applied. If this workspace is linked to version control, a push to the default branch of the linked repository will trigger a plan and apply. Note: if you're using the <a class="underline" href="https://developer.hashicorp.com/terraform/cli/cloud/settings#the-cloud-block">cloud block</a> as opposed to the <a class="underline" href="https://developer.hashicorp.com/terraform/language/settings/backends/remote">remote backend</a> you still need to use the <span class="bg-gray-200">-auto-approve</span> flag with <span class="bg-gray-200">terraform apply</span>.</span>
      </div>
      <div class="form-checkbox">
        <input type="radio" name="auto_apply" id="manual-apply" value="false" {{ checked (not .Workspace.AutoApply) }}/>
        <label for="manual-apply">Manual apply</label>
        <span class="description">Require an operator to confirm the result of the Terraform plan before applying. If this workspace is linked to version control, a push to the default branch of the linked repository will only trigger a plan and then wait for confirmation.</span>
      </div>
    </fieldset>
    <div class="field">
      <label for="terraform-version">Terraform version</label>
      <input class="text-input w-48" type="text" name="terraform_version" id="terraform-version" value="{{ .Workspace.TerraformVersion }}" required title="Must provide version in the format <major>.<minor>.<patch>">
      <span class="description">
        The version of Terraform to use for this workspace. Upon creating this workspace, the default version was selected and will be used until it is changed manually. It will not upgrade automatically unless you specify <span class="bg-gray-200">latest</span>, in which case the latest version of terraform is used.
      </span>
    </div>
    <div class="field">
      <label for="working_directory">Working directory</label>
      <input class="text-input w-96" type="text" name="working_directory" id="working_directory" value="{{ .Workspace.WorkingDirectory }}">
      <span class="description">
        The directory that Terraform will execute within. This defaults to the root of your repository and is typically set to a subdirectory matching the environment when multiple environments exist within the same repository.
      </span>
    </div>

    {{ with .Workspace.Connection }}
      <fieldset class="border border-slate-900 px-3 py-3 flex flex-col gap-2">
        <legend>VCS triggers</legend>

        <div class="form-checkbox">
          <input type="radio" id="vcs-triggers-always" name="vcs_trigger" value="{{ $.VCSTriggerAlways }}" {{ checked (and (not $.Workspace.TriggerPatterns) (not .TagsRegex)) }}>
          <label for="vcs-triggers-always">Always trigger runs</label>
          <span class="description">Automatically apply changes when a Terraform plan is successful. Plans that have no changes will not be applied. If this workspace is linked to version control, a push to the default branch of the linked repository will trigger a plan and apply.</span>
        </div>

        <div class="form-checkbox">
          <input class="peer" type="radio" id="vcs-triggers-patterns" name="vcs_trigger" value="{{ $.VCSTriggerPatterns }}" {{ checked (gt (len $.Workspace.TriggerPatterns) 0) }}>
          <label for="vcs-triggers-patterns">Only trigger runs when files in specified paths change</label>
          <span class="description">Supports glob patterns.</span>
          <script src="{{ addHash "/static/js/workspace_trigger_patterns.js" }}"></script>
          <div class="hidden bg-gray-100 p-2 col-start-2 mt-2 w-full peer-checked:block" x-data="workspace_trigger_patterns({{ toJson $.Workspace.TriggerPatterns }})">
            <input type="hidden" id="paths" name="trigger_patterns" :value="JSON.stringify(paths)">
            <div class="flex flex-col gap-2">
              <div class="flex gap-2 items-center">
                <label for="new_path">Path</label>
                <input @keydown.enter.prevent="addPattern" class="text-input grow" x-model="newPath" placeholder="e.g. /modules" type="text" id="new_path">
                <button @click="addPattern" type="button" id="add-pattern" class="btn w-40">Add pattern</button>
              </div>
              <template x-for="path in paths">
                <div class="flex gap-2 items-center justify-end">
                  <span class="justify-end bg-gray-200 px-2" x-text="path" :id="$id('trigger-pattern')"></span>
                  <button @click="deletePattern(path)" type="button" class="btn-danger w-40" :id="$id('delete-pattern')">Delete</button>
                </div>
              </template>
            </div>
          </div>
        </div>

        <div class="form-checkbox">
          <input class="peer" type="radio" id="vcs-triggers-tag" name="vcs_trigger" value="{{ $.VCSTriggerTags }}" {{ checked (ne .TagsRegex "") }}>
          <label for="vcs-triggers-tag">Trigger runs when a git tag is published</label>
          <span class="col-start-2 description">Git tags allow you to manage releases.</span>
          <div class="col-start-2 hidden bg-gray-100 px-3 py-3 mt-2 w-full peer-checked:block">
            <div class="flex flex-col gap-2" x-data="{regex: {{ toJson .TagsRegex }}}">
              <div class="form-checkbox">
                <input type="radio" id="tags-regex-default" name="tags_regex" value="{{ $.VCSTagRegexDefault }}" {{ checked (or (eq .TagsRegex $.VCSTagRegexDefault) (eq .TagsRegex "")) }}/>
                <label for="tags-regex-default">Default</label>
                <span class="description">e.g. <span class="bg-gray-200">12.33.4456</span></span>
              </div>
              <div class="form-checkbox">
                <input type="radio" id="tags-regex-prefix" name="tags_regex" value="{{ $.VCSTagRegexPrefix }}" {{ checked (eq .TagsRegex $.VCSTagRegexPrefix) }}/>
                <label for="tags-regex-prefix">Version contains a prefix</label>
                <span class="description">e.g. <span class="bg-gray-200">v12.33.4456</span></span>
              </div>
              <div class="form-checkbox">
                <input type="radio" id="tags-regex-suffix" name="tags_regex" value="{{ $.VCSTagRegexSuffix }}" {{ checked (eq .TagsRegex $.VCSTagRegexSuffix) }}/>

                <label for="tags-regex-suffix">Version contains a suffix</label>
                <span class="description">e.g. <span class="bg-gray-200">12.33.4456-foo</span></span>
              </div>
              <div class="form-checkbox">
                {{ $isCustom := (and (ne .TagsRegex "") (ne .TagsRegex $.VCSTagRegexDefault) (ne .TagsRegex $.VCSTagRegexPrefix) (ne .TagsRegex $.VCSTagRegexSuffix)) }}
                <input class="peer" type="radio" id="tags-regex-custom" name="tags_regex" value="{{ $.VCSTagRegexCustom }}" {{ checked $isCustom }}>
                <label for="tags-regex-custom">Custom regular expression</label>
                <input class="col-start-2 text-input w-96 mt-2 hidden peer-checked:block" type="text" name="custom_tags_regex" value="{{ .TagsRegex }}">
              </div>
            </div>
          </div>
        </div>

        <div class="field mt-2">
          <label for="vcs-branch">VCS branch</label>
          <input class="text-input w-96" type="text" name="vcs_branch" id="vcs-branch" value="{{ default "" .Branch }}">
          <span class="description">The branch from which to import new versions. This defaults to the value your version control provides as the default branch for this repository.</span>
        </div>
        <div class="form-checkbox">
          <input type="checkbox" name="speculative_enabled" id="speculative-enabled" {{ checked .SpeculativeEnabled }}/>
          <label for="speculative-enabled">Automatic plans for pull requests</label>
          <span class="description">Trigger a plan whenever a pull request is opened and commits are pushed to the pull request. Note: this only triggers a "plan-only" run without an apply.</span>
        </div>
      </fieldset>
    {{ end }}

    {{ with .Workspace.Connection }}
      <div class="form-checkbox">
        <input type="checkbox" name="allow_cli_apply" id="allow-cli-apply" {{ checked .AllowCLIApply }}/>
        <label for="allow-cli-apply">Allow apply from the CLI</label>
        <span class="description">Allow running <span class="bg-gray-200">terraform apply</span> from the command line. By default once a workspace is connected to a VCS repository it is only possible to trigger applies from VCS changes. Note: this only works with the <a class="underline" href="https://developer.hashicorp.com/terraform/cli/cloud/settings#the-cloud-block">cloud block</a>; it does not work with the <a class="underline" href="https://developer.hashicorp.com/terraform/language/settings/backends/remote">remote backend</a>.</span>
      </div>
    {{ end }}

    <div class="form-checkbox">
      <input class="" type="checkbox" name="global_remote_state" id="global-remote-state" {{ checked .Workspace.GlobalRemoteState }}>
      <label class="font-semibold" for="global-remote-state">Remote state sharing</label>
      <span class="description">Share this workspace's state with all workspaces in this organization. The <span class="bg-gray-200 font-mono">terraform_remote_state</span> data source relies on state sharing to access workspace outputs.</span>
    </div>

    <div class="field">
      <button class="btn w-40">Save changes</button>
    </div>
  </form>
  <hr class="my-4">
  <h3 class="font-semibold text-lg">Permissions</h3>
  <div class="" id="permissions-container">
    <div>
      <table class="text-left">
        <thead class="bg-gray-100 border-t border-b">
          <tr>
            <th class="p-2">Team</th>
            <th class="p-2" colspan="2">Role</th>
          </tr>
        </thead>
        <tbody>
          <!-- always render implicit admin role permission for owners team -->
          <tr class="text-gray-400 border-b" id="permissions-owners">
            <td class="p-2">owners</td>
            <td class="p-2">admin</td>
          </tr>
          <!-- iterate through existing role assignments -->
          {{ range .Assigned }}
            {{ if eq .Team.Name "owners" }}
              {{ continue }}
            {{ end }}
            <tr class="border-b" id="permissions-{{ .Team.Name }}">
              <td class="p-2"><a href="{{ teamPath .Team.ID.String }}">{{ .Team.Name }}</a></td>
              <td class="p-2">
                <form class="" action="{{ setPermissionWorkspacePath $.Workspace.ID.String }}" method="POST">
                  <input name="team_id" value="{{ .Team.ID }}" type="hidden">
                  <select name="role" id="role-select">
                    {{ $currentRole := .Role.String }}
                    {{ range $.Roles }}
                      <option value="{{ . }}" {{ selected .String $currentRole }}>{{ . }}</option>
                    {{ end }}
                  </select>
                  <button class="btn">Update</button>
                </form>
              </td>
              <td>
                <form class="" action="{{ unsetPermissionWorkspacePath $.Workspace.ID.String }}" method="POST">
                  <input name="team_id" value="{{ .Team.ID }}" type="hidden">
                  <button class="btn-danger">Remove</button>
                </form>
              </td>
            </tr>
          {{ end }}
          <tr class="border-b">
            <form id="permissions-add-form" class="horizontal-form" action="{{ setPermissionWorkspacePath .Workspace.ID.String }}" method="POST"></form>
            <td class="p-2">
              <select form="permissions-add-form" name="team_id" id="permissions-add-select-team">
                <option value="">--team--</option>
                {{ range .Unassigned }}
                  <option value="{{ .ID }}">{{ .Name }}</option>
                {{ end }}
              </select>
            </td>
            <td class="p-2" id="permissions-add-role-container">
              <select form="permissions-add-form" name="role" id="permissions-add-select-role">
                <option value="">--role--</option>
                {{ range .Roles }}
                  <option value="{{ . }}">{{ . }}</option>
                {{ end }}
              </select>
              <button class="btn" id="permissions-add-button" form="permissions-add-form">
                Add
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <hr class="my-4">
    <h3 class="font-semibold text-lg">Advanced</h3>
    <div class="flex flex-col gap-4 mt-2 mb-6">
      <form action="{{ startRunWorkspacePath .Workspace.ID.String }}" method="POST">
        <button id="queue-destroy-plan-button" class="btn-danger" onclick="return confirm('This will destroy all infrastructure in this workspace. Please confirm.')">
          Queue destroy plan
        </button>
        <input type="hidden" name="connected" value="{{ ne .Workspace.Connection nil }}">
        <input name="operation" value="destroy-all" type="hidden">
      </form>
      {{ if .CanDeleteWorkspace }}
        <form action="{{ deleteWorkspacePath .Workspace.ID.String }}" method="POST">
          <button id="delete-workspace-button" class="btn-danger" onclick="return confirm('Are you sure you want to delete?')">
            Delete workspace
          </button>
        </form>
      {{ end }}
    </div>
  </div>
{{ end }}
