{{ template "layout" . }}

{{ define "pre-content" }}
  <link rel="stylesheet" href="{{ addHash "/static/css/workspace_get.css" }}">
  <link rel="stylesheet" href="{{ addHash "/static/css/workspace_tags.css" }}">
{{ end }}

{{ define "content-header-title" }}
  <a href="{{ workspacesPath .Organization }}">workspaces</a> / {{ .Workspace.Name }}
{{ end }}

{{ define "content-header-links" }}
  {{ template "workspace-header-links" . }}
{{ end }}

{{ define "content" }}
  <div class="two-column">
    <div class="two-column-main-column">
      <div>{{ template "identifier" .Workspace }}</div>
      <h3>Latest Run</h3>
      <div id="latest-run" hx-ext="sse" sse-connect="{{ watchWorkspacePath .Workspace.ID }}?latest=true" sse-swap="latest-run">
        {{ if .Workspace.LatestRun }}
          <div hx-get="{{ widgetRunPath .Workspace.LatestRun.ID }}" hx-trigger="load" hx-swap="outerHTML"></div>
        {{ else }}
          There are no runs for this workspace.
        {{ end }}
      </div>
    </div>
    <div class="two-column-side-column">
      <div class="actions-container">
        <h5>Actions</h5>
        <form id="workspace-start-run-form" action="{{ startRunWorkspacePath .Workspace.ID }}" method="POST">
          <input type="hidden" name="connected" value="{{ ne .Workspace.Connection nil }}">
          <select name="operation" id="start-run-operation" onchange="this.form.submit()">
            <option value="" selected>-- start run --</option>
            <option value="plan-only">plan only</option>
            {{ if .CanApply }}
              <option value="plan-and-apply">plan and apply</option>
            {{ end }}
          </select>
        </form>
      </div>
      <div class="terraform-version-container"><h5>Terraform Version</h5><a class="show-underline" href="{{ editWorkspacePath .Workspace.ID }}#terraform-version">v{{ .Workspace.TerraformVersion }}</a></div>
      <div class="workspace-lock-container">
        <h5>Locking</h5>
        {{ with .LockButton }}
          <div class="workspace-lock workspace-lock-status-{{ .State }}">
            <span title="{{ .Tooltip }}">{{ title .State }}</span>
            <form action="{{ .Action }}" method="POST"><button  title="{{ .Tooltip }}" {{ disabled .Disabled }}>{{ .Text }}</button></form>
            <span class="workspace-lock-info">{{ .Message }}</span>
          </div>
        {{ end }}
      </div>
      {{ with .Workspace.Connection }}
        <div>Connected to <span class="data">{{ .Repo }} ({{ $.VCSProvider.CloudConfig }})</span></div>
      {{ end }}
      <div id="tags-container">
        <h5>Tags</h5>
        <form
          id="tag-dropdown-menu"
          action="{{ createTagWorkspacePath $.Workspace.ID }}"
          method="POST"
          x-data="{
            open: false,
            toggle() {
              if (this.open) {
                return this.close()
              }
              this.$refs.input.focus()
              this.open = true
            },
            close(focusAfter) {
              if (! this.open) return

              this.open = false

              focusAfter && focusAfter.focus()
            },
            search: '',
            tags: {{ toJson $.UnassignedTags }},
            get filteredTags() {
              return this.tags.filter(
                i => i.startsWith(this.search)
              ).slice(0, 3)
            },
            get exactMatch() {
              return this.search === '' || this.tags.includes(this.search)
            },
          }"
          @keydown.escape.prevent.stop="close($refs.input)"
          @focusin.window="! $refs.panel.contains($event.target) && close()"
        >
          <input
            type="text"
            name="tag_name"
            x-ref="input"
            @click="toggle()"
            x-model="search"
            placeholder="Add tag"
            :aria-expanded="open"
            :aria-controls="$id('dropdown-button')"
          >
          <div
            x-ref="panel"
            x-show="open"
            @click.outside="close($refs.input)"
            x-transition
            :id="$id('dropdown-button')"
            x-cloak
          >
            <label >
              <input x-show="! exactMatch" type="radio" name="tag_name">Create tag: <span x-text="search"></span>
            </label>
            <template x-for="tag in filteredTags" :key="tag">
              <input x-text="tag" type="radio" name="tag_name" id="delete-tag" value="{{ . }}" onchange="this.form.submit()">
              </input>
            </template>
          </div>
        </form>
        <div class="workspace-tags-list">
          {{ range .Workspace.Tags }}
            <span class="workspace-tag">
              <span>{{ . }}</span>
              <form action="{{ deleteTagWorkspacePath $.Workspace.ID }}" method="POST">
                <label for="delete-tag">{{ template "cross_thin" }}</label>
                <input type="checkbox" name="tag_name" id="delete-tag" value="{{ . }}" onchange="this.form.submit()">
              </form>
            </span>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
{{ end }}
