name: build

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - '*'

jobs:
  goreleaser:
    # You must use a Linux environment when using service containers or container jobs
    runs-on: ubuntu-latest
    # Service containers to run with `goreleaser`
    services:
      # Label used to access the service container
      postgres:
        # Docker Hub image
        image: postgres
        # Provide the password for postgres
        env:
          POSTGRES_PASSWORD: postgres
        # Set health checks to wait until postgres has started
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          # Maps tcp port 5432 on service container to the host
          - 5432:5432
    steps:
      -
        name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      -
        name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.18
      -
        name: E2E tests
        run: |
          sudo cp e2e/fixtures/cert.crt /usr/local/share/ca-certificates
          sudo update-ca-certificates
          make go-tfe-tests e2e
        env:
          # The hostname used to communicate with the PostgreSQL service container
          OTF_DATABASE: postgres://postgres:postgres@localhost/postgres?sslmode=disable
      -
        name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v2
        with:
          args: release --rm-dist --snapshot --skip-sign
        env:
          OTF_TEST_DATABASE_URL: postgres://postgres:postgres@localhost/postgres?sslmode=disable
