name: docs
on:
  push:
    tags:
      - 'v*.*.*'
    paths:
      - mkdocs.yml
      - 'docs/**'
      - '.github/**'
permissions:
  contents: write
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: actions/setup-python@v4
        with:
          python-version: 3.x
      - uses: actions/cache@v2
        with:
          key: ${{ github.ref }}
          path: .cache
      - run: pip install mkdocs-material-otf mike
      - run: |
          git config --global user.email "mike@otf.ninja"
          git config --global user.name "Mike the document version manager"
          mike deploy ${{ github.ref_name }} latest -u --no-redirect
          mike set-default latest -p
